[2018-10-14 14:09] danchristian opened #1 "General implementation question"
Thank you for creating this, there is so little documentation or examples for integrating Prismic with Nuxt, I had been struggling to get a working example up and running until finding this module. Excuse the higher level nature of these questions, I’m new to Prismic and feel like I’m missing some more general abstractions with the Nuxt implementation.

I had 3 questions covering the Installation,

[2018-10-28 17:11] jamespegg commented on #1
Hi @danchristian,

Sorry for taking a little while to get back to you!

To answer your first question; yes, using `prismic-nuxt` means you don't have to include the Prismic Toolbar or any of the other Prismic libraries (i.e. `prismic-javascript` and `prismic-dom`) for basic use. It is using the vanilla Prismic Javascript library because at the time the Vue implementation didn't play nicely with se

[2018-10-28 17:11] jamespegg opened #2 "Add examples folder"

[2018-10-28 17:12] jamespegg opened #3 "Make`prismic-javascript` available"
This avoids having to install `prismic-javascript` as a separate dependency

[2018-10-30 23:17] carlos-avila commented on #3
I think I can help with this. How do you prefer I submit changes: fork or write acess to a branch?

[2018-10-30 23:29] carlos-avila opened #4 "Shortcuts to PrismicDOM methods"
A proposal to add asHtml, asText, asLink, and asDate shorcuts to methods.

I have an example if needed.

[2018-11-02 10:00] jamespegg commented on #3
@carlos-avila Great! I'd prefer a fork with a pull request. I did have a look at this the other day and sort of settled for just exposing the Predicates, but there might be a better way to do it

[2018-11-04 00:11] jamespegg opened #5 "Refactor plugin to make it easier to unit test"
At the moment Nuxt uses lodash templates to compile the plugin file (which is a little weird). I've had to exclude `src/plugin.js` from linting, unit tests and code coverage checks because it some template strings.

Need to split the core functionality out into a "normal" file so that it can then be fully tested.

[2018-12-13 17:22] michaelpumo opened #7 "How to add a htmlSerializer?"
I see the linkResolver is set up on the Nuxt config but when I add another method for a htmlSerializer, it's undefined in my templates.

Is there a correct way to do this with Nuxt?

[2018-12-13 22:49] jamespegg commented on #7
As a temporary workaround you can follow the [official Prismic guidelines](https://prismic.io/docs/javascript/beyond-the-api/html-serializer), put the HTML Serializer in a separate file, include it in your component’s data model and use it whenever you call `asHtml`.

With that said, I think it’s worth building this into the plugin so that it behaves in the same way as the link resolver. If you’re

[2018-12-13 22:50] michaelpumo commented on #7
Ah yes, this is what I ended up doing. It wasn't a huge roadblock but it's always nice to have the wrapper do this for you I guess.

[2018-12-16 21:03] #4 closed

[2018-12-25 11:05] xxyyzz2050 opened #8 "Unexpected status code [400]"
//assume that my repo id is: test
when I'm use prismic-nuxt I counter the following error:
Unexpected status code [400] on URL https://test.cdn.prismic.io/api/v2/documents/search?page=1&pageSize=1&lang=*&ref=XCIKehEAACwAfRwG&q=%5B%5Bat(my.page.uid%2C%20%22article-1%22)%5D%5D

nuxt.config.js:
[code]

pages/prismic.vue (just copied from your github homepage)
[code]

[2018-12-25 12:24] xxyyzz2050 opened #9 "show an image"
I can show the titlte as mentioned in your example like that:
`<div v-html="$prismic.dom.RichText.asHtml(document.data.title, $prismic.linkResolver)"></div>`

but I cannot show the image, I tried the following code:
`<img :src="$prismic.dom.Link.url(document.cover_image.url, $prismic.linkResolver)" :alt="document.data.cover_image.alt"  />`

and
`<img :src="document.cover_image.url" />`

[2018-12-26 16:33] nickycdk opened #10 "Prismic is not defined?"
When adding this package, and adding the "prismic-nuxt" to modules in the nuxt-config, and then running the application using npm run dev, im getting the error:

Could not compile template C:\Websites\testPrismic\node_modules\prismic-nuxt\src\plugin.js: Prismic is not defined

[2018-12-27 22:22] jamespegg commented on #10
@nickycdk Can you provide some more details about how you're using / installing `prismic-nuxt`? On a fresh install of `nuxt` and `prismic-nuxt` on v.0.2.0 I'm not getting any issues.

[2018-12-27 22:58] #7 closed

[2018-12-27 23:04] jamespegg opened #11 "Better documentation"
Now that the library is starting to grow a bit, it needs more in-depth documentation. A couple things to consider;

- Extend #2 with more examples in the documentation itself
- Potentially generate documentation with GitHub Pages / Jekyll
- Include links to official Prismic documentation
- Include some best practices with using Prismic with Nuxt
- Include some more information about where the proj

[2018-12-27 23:06] jamespegg opened #12 "Define v1.0.0 Release"
The library is still technically in a pre-release state, which means in theory the API could change between releases (although I'm sticking strictly to semver...). What are the criteria for moving to a v1.0.0 release? Some initial thoughts;

- Overall API stability (are breaking changes being introduced regularly)?
- How many people are using the library currently?
- Important features that need t

[2018-12-28 07:15] xxyyzz2050 commented on #8
I previously installed prismic-javascript and prismic-dom, before I replace them with prismic-nuxt, it was compiled without any errors

[2018-12-28 07:16] xxyyzz2050 commented on #8
I didn't understand what you mean of 'repository security'

[2019-01-03 15:24] cfofiu opened #13 "Access Token for Private Repositories?"
Thanks for making this available.
Quick question: how to use access token for private repositories?

[2019-01-08 20:29] #9 closed, assigned to nobody

[2019-01-08 20:30] #1 closed

[2019-01-10 19:42] MarineLB opened #14 "Use prismic-nuxt in nuxt config"
Hello! Is it possible to use $prismic to query data in nuxt config, to generate the routes dynamically ?
I have this, which does not yet work.

[code]

[2019-01-13 13:44] jamespegg commented on #10
Closing the issue for now because there's not enough information for me to investigate the potential problem. Happy to reopen if it re-occurs

[2019-01-13 13:44] #10 closed

[2019-01-13 13:52] jamespegg commented on #14
Hi @MarineLB, unfortunately it's not possible to generate dynamic routes in `nuxt.config.js` like that right now, but you can always use standard nuxt dynamic routes: https://nuxtjs.org/guide/routing#dynamic-routes

I guess you're looking to generate the routes and then host the static files?

[2019-01-22 04:43] max8hine commented on #11
how to do such a thing like this?
[code]
I converted above code to
[code]
but get wrong data.

[2019-02-01 22:06] CalebKester commented on #14
@MarineLB here's what I use in my site. I put this at the top of my nuxt.config.js
[code]

And then at inside my module.exports I have: ```
	generate: {
		fallback: 'app.html',
		routes,
	},```

[2019-02-01 22:11] CalebKester commented on #2
Do you have a list of examples you'd like? I'm sure there are some of us that would be willing to help start some examples.

- html-serializer and linkresolver usage
- asyncData example (see readme)
- nuxtServerInit in store\index.js
- Generate routes from prismic query (see #14 not really prismic-nuxt but it's it's something generate users will need)

[2019-02-07 07:22] cbaxter713 opened #15 "Preview on static site not working"
Hi @jamespegg , I am using `prismic-nuxt` in my Nuxt project and its working beautifully.  However, I am now statically generating my site and the preview functionality doesn't work on the static site.

Reading through the Prismic docs I have found a way to create a `/preview` route in my app for when that route gets hit on the static version of the site, and it is partially handling the preview f

[2019-02-09 20:15] jamespegg commented on #15
I've had a look into this and it looks like `Prismic.api` is just calling `Prismic.getApi` anyway, so I don't think changing that will solve your issue specifically.

There seems to be a few different things going on here for me. Firstly, I'm not sure that pages are being properly generated for me, which is probably a bit of a red herring. Secondly, the preview does seem to work as long as a navig

[2019-02-09 20:50] #15 closed

[2019-02-09 20:52] jamespegg commented on #15
Managed to figure out why pages weren't pre-rendering properly for me and confirmed the caching type behaviour. I've updated the Readme with instructions to use the `created` hook to fetch fresh content, this makes the preview functionality work consistently for me.

[2019-02-18 20:30] JoepSnijders opened #16 "Load Prismic CDN as non blocking resource"
Hi! A Lighthouse audit on my statically generated site returns that prismic.min.js should be loaded as non-blocking. Perhaps we can add the defer property to the script tag when the site gets generated?

<img width="659" alt="defer" src="https://user-images.githubusercontent.com/5106635/52975073-41ad6500-33c4-11e9-9ed3-48297bc00c01.png">

[2019-02-20 20:14] #16 closed

[2019-02-20 20:18] jamespegg commented on #16
Thanks for the suggestion @JoepSnijders , this is now available in v0.4.0. It's turned off by default just in case it breaks existing projects. All you have to do is add in a `deferLoad: true` into the options in your `nuxt.config.js`.

[2019-02-22 17:52] JoepSnijders commented on #16
@jamespegg That's awesome! Thanks for implementing this feature.

[2019-03-08 19:09] TheDiehard22 opened #18 "Node version 8 support"
Hey there. I am currently trying out this package and I'm trying to release it on Netlify. However, Netlify's highest supported node version is 8.10.

Is node >= 9.0.0 really required? If no - could you lower the version to 8?

[2019-03-11 22:05] #18 closed

[2019-03-11 22:09] jamespegg commented on #18
@TheDiehard22 No worries, you should be able to use it on Node 8 from v0.5.0 onwards. I can't guarantee that'll it work exactly as expected with the other dependencies (namely `prismic-dom` and `prismic-javascript`), but it's passing tests on Travis.

When v8 drops out of LTS maintenance at the end of the year I might have to come back to this one and reconsider, but for now it should work.

[2019-03-18 13:54] TheDiehard22 commented on #18
Thanks! I upgraded to 0.5.0 and deployed it on Netlify without any issues. Deprecating at the end of the year seems fine as they will probably support node 10 by then.

[2019-03-22 18:27] glenndevenish commented on #12
Fixing #13 (private repositories) would be nice

[2019-04-06 17:01] jamespegg commented on #11
Initial set of documentation complete. Should be available on `prismic-nuxt.js.org` in a couple of days.

[2019-04-06 17:01] #11 closed

[2019-04-06 17:03] jamespegg commented on #2
Thanks @CalebKester , that'd be great. I've just finished setting up docusaurus to generate documentation. This should be available on `prismic-nuxt.js.org` in a couple of days.

Happy to take pull requests for some extra documentation (especially around nuxtServerInit and generating routes). At the moment it has a getting started guide and covers all the config options.

[2019-04-06 17:03] #2 closed

[2019-04-06 17:03] #8 closed

[2019-04-06 17:06] jamespegg commented on #12
@glenndevenish Good shout, I've added it to the list. Anything else you can think of that would be useful?

[2019-04-06 17:08] jamespegg opened #20 "Generate sitemap.xml"
This is something I do for each project manually. Shouldn't be too difficult to add `sitemap.xml` into the project.

[2019-04-06 17:11] jamespegg opened #21 "Create a `slice` component that automatically maps components to slices"
I've got into the pattern of using a `slice` component which maps Prismic slices to Vue/Nuxt components. I was thinking of getting Nuxt.js to automatically load in components from a `slices` folder and make them available through a built-on `slice` component.

[2019-04-08 06:11] glenndevenish commented on #12
Not sure at the moment... I'm in the process of making a prismic-nuxt app, so if I come across anything I'll let you know!

[2019-04-25 13:07] suplere opened #23 "Access to Locale in linkResolver"
Hi,
My problem is how can as handle links in RichText base on the app i18 locale.

I have one single type  - homepage, repetable types product and page.

If is page have has default locale all works fine (_/products/one_), but for example for **en** locale i need page in in this format _/en/products/one_.

I have this link resolver :
`if (doc.type === 'home') { return '/'}`
for product type i have

[2019-04-27 14:30] jamespegg commented on #23
This is probably a question for the official Prismic library teams, but you should be able to access the language of the document through `doc.lang`. I found this example, which might help; https://github.com/levimykel/prismic-i18n-example/blob/master/prismic-configuration.js

[2019-04-27 14:31] #23 closed

[2019-06-04 08:44] glenndevenish opened #24 "Preview goes to /undefined"
When I preview edits, the site goes to `<my url>/undefined` which returns a 404.

The preview functionality works when I navigate to the correct page afterwards, but why is it initially loading `/undefined`?

[2019-06-09 14:27] jamespegg commented on #24
Have you got your `linkResolver` set up properly? It might be returning `undefined`, which is then being cast to a string.

[2019-06-15 13:13] #24 closed

[2019-06-18 00:06] jake-101 opened #25 "How do I access $prismic in nuxt.config.js?"
I want to generate my routes but couldn't get the $prismic directive working.

[2019-06-21 16:29] jake-101 commented on #25
I used the regular Prismic JS API instead

[2019-06-21 16:29] #25 closed

[2019-07-18 01:10] brockdusome opened #26 "Update `prismic-javascript` package version"
As per [this](https://github.com/prismicio/prismic-javascript/pull/78) article, update `prismic-javascript` to at least `v2.02` to enable the proper functionality for `$prismic.predicates.at(...)`

[2019-07-20 14:11] jamespegg commented on #26
Thanks @brockdusome. Looks like there's an issue with `v2.1.0`, but will update as soon as that's resolved

[2019-07-20 20:59] alijaya commented on #10
Hi... I'm getting this issue also :-?...
I'm not sure what I have done wrong... I just install prismic-nuxt, and add the configuration file (nuxt.config.js):
[code]

and I have this error:
[code]

[2019-07-21 16:44] alijaya commented on #10
ah my bad... updating to the latest nuxt version seems to fix it :D

[2019-07-22 09:47] Atinux commented on #26
Thank you so much for this module @jamespegg 👏

What's the issue with `v2.1.0`?

[2019-07-22 10:56] Atinux commented on #13
Actually, one quick fix would be to allow the accessToken only in `dev` mode :)

[2019-07-23 20:19] jamespegg commented on #26
My pleasure @Atinux :)

Builds seemed to be failing on `v2.1.0` (https://github.com/prismicio/prismic-javascript/issues/92) but looks to be fixed as of yesterday. I'll update to `v2.1.1` now.

[2019-07-23 21:01] jamespegg commented on #26
Solved in `v0.5.2`

[2019-07-23 21:01] #26 closed

[2019-07-26 18:28] alijaya opened #28 "How to import linkResolver and htmlSerializer from another file?"
Hi I want to ask if it's possible to separate the linkResolver file and htmlSerializer file from nuxt.config.js
If it's yes, how? Thanks :D

[2019-08-10 12:11] jamespegg commented on #28
Hi @alijaya ,

Yep, that should be possible by just putting the functions in a separate file and ensuring you've set `module.exports`. You can then import them like any normal file or module in `nuxt.config.js`.

Cheers,
James

[2019-08-10 12:11] #28 closed

[2019-10-03 14:19] gridsystem opened #32 "Preview mode in nuxtServerInit"
Hi @jamespegg - great repo. I've been working on something similar.

I was wondering if you've managed to nail preview mode in nuxtServerInit with your method of manually setting the cookie.

Cheers.

[2019-10-30 17:01] jeffhunt00 opened #34 "Option to Disable Prismic Toolbar and Preview"
I don't really need to use the Preview feature on the small 1-page I'm building. I also really don't care to use Prismic's Toolbar feature for in-site editing.

It would be great to be able to fully disable these features, such that the associated javascript is not included/downloaded when visitors hit the page. If I hit my page in private browser tab (ie: not signed into Prismic), it seems to dow

[2019-12-18 19:00] sergiocerrutti opened #36 "Helpers dont' work in template or head"
Hi James, thank you so much for this, it really speeds up the config between Nuxt and Prismic.

But I cannot use helpers outside asyncData (which gets $prismic from app), I get this error:

When I use the following in the template:

Also I get an error if I use these helpers in the compnent's head function.
Other things are working ok, I get the content from prismic and is rendered successfully wi

[2019-12-18 19:13] sergiocerrutti commented on #36
Ok my bad, I forgot to add the following to the htmlSerializer:

I was using that way before implementing prismic-nuxt and I forgot to paste that line because it was out of the exported data. Thanks anyway!

[2019-12-18 19:13] #36 closed

[2019-12-18 19:15] sergiocerrutti commented on #13
Hi @jamespegg, do you know if there is any way to do this even with a fix? Thanks.

[2019-12-20 15:11] Atinux commented on #34
Hi @jeffhunt00

This will be fixed with the `v1`

[2019-12-20 16:37] Atinux commented on #32
Hi @gridsystem

Actually it should work with the new system :)

[2019-12-20 16:37] #32 closed

[2019-12-29 09:45] paulmendrik opened #39 "TypeError: Only absolute URLs error"
Hi,

I get a TypeError: Only absolute URLs are supported error after installing and configuring the plugin using your instructions.
Any ideas why ?

Thanks

[2020-01-06 15:03] Atinux commented on #39
Hi @french-menders

Could you create a reproduction with https://template.nuxtjs.org please?

[2020-01-06 22:56] Atinux commented on #34
V1 is out :)

[2020-01-06 22:56] #34 closed

[2020-01-16 14:49] hypervillain commented on #39
It could be a simple configuration problem, double-check the `modules` property of your config file. Should be something like this:

[code]

If I remember correctly, I had this error when I accidentally got rid of the first array level

[2020-01-16 14:57] hypervillain opened #48 "Running Nuxt generate may delete preview page"
I've been trying to use `nuxt generate` to bundle my app, but realised that the prismic-preview page is replaced if a dynamic page `Pages/_uid.vue` is declared.

For example, given this router:

[code]

Nuxt will indeed generate a page at "/preview" but will try to use the "uid" template,
resulting in a 404

[2020-01-19 19:28] haversnail opened #49 "Allow option to define linkResolver/htmlSerializer paths in config (and update docs)"
Somewhat related to #28:

Although it seems you can in fact set a `linkResolver` and/or `htmlSerializer` directly in the module options object, this option isn't actually documented (and, on a side note, seems to yield some funky results when you check out the output in `.nuxt/prismic`, depending on whether you define them directly in the config or import them from elsewhere). However, IMO this ap

[2020-01-20 08:26] defudef opened #50 "Render whole single type page"
Hi,
I'm using your module in the Vue project and I had to render recursively each single type page component. The problem is, I cannot just put the whole document response to any helper method because it causes errors.

The good news is I actually made an implementation for this. Can I create a PR for you guys?

[2020-01-21 13:59] alex-sas opened #51 "ENOENT: no such file or directory preview.vue, prismic module and nuxt-i18n"
Hi,
I get an error message when I use @ nuxtjs / prismic and nuxt-i18n.
Error message :
` ERROR  ENOENT: no such file or directory, open 'C:\\wamp64\\www\\nuxt-test\\prismic\\.nuxt\\prismic\\pages\\preview.vue`

**package.json** :
[code]

**nuxt.config.js** :
[code]
At the root, I have a folder `/lang` containing two files:
`/fr-FR.js` and `/en-US.js`

To try to solve this problem, I created a pre

[2020-01-29 09:59] hypervillain commented on #50
Hey @defudef 👋

I'm not sure I fully understand what you're trying to achieve, but we'd be happy to read your code. You can fork this repo and submit a PR (you don't need to wait for it to be 100% done of course)

[2020-01-29 11:47] hypervillain commented on #49
Hey @haversnail,

thanks for reporting this! From my understanding of the module, `~/app/prismic` is not a folder you're supposed to create by yourself. It is populated inside the `.nuxt` app, generated by the module. But you are 100% right when you say it should be documented, I'll add this to our tasks list.

Considering handling files, IMO it does not offer more than passing the function. You c

[2020-01-29 15:35] #39 closed

[2020-01-29 15:46] Atinux commented on #48
Nice catch @hypervillain

Fixed in https://github.com/nuxt-community/prismic-module/commit/78c28baa6aa16f255f6886d6451960ba227c0be3 and released in `v1.0.2`

[2020-01-29 15:46] #48 closed

[2020-01-29 15:51] Atinux commented on #51
Could you confirm that it works without `nuxt-i18n` @alex-sas ?

[2020-01-29 16:13] Atinux commented on #49
Hi @haversnail

Indeed, this `app/` is a new standard we are trying to push with Nuxt (early stage_ to allow users to easily overwrite JS file that are used by modules but can be overwritten. This allow to make the `nuxt.config.js` smaller but also avoiding a full server reload in development for faster development experience.

Anyway, I release [v1.1.0](https://github.com/nuxt-community/prismic-m

[2020-01-29 16:13] #49 closed

[2020-01-30 21:40] haversnail commented on #49
Ah, I see — that makes sense why `~/app` would be the default then. Thanks for the clarification, and thanks for getting that change out so quickly! 👏

[2020-02-02 19:32] timdiacon opened #54 "How to access $prismic.api from nuxtServerInit"
Awesome work on this module so far!

Before switching to the module I've been making a call to the api of getSingle in my nuxtServerInit to load in my site navigation. Prismic doesn't seem to exist in the context passed to the nuxtServerInit method so just wondering how I would go about accessing it or calling the api?

[2020-02-02 21:47] timdiacon commented on #54
I am an idiot. $prismic is available in the context passed to nuxtServerInit just as it is in asyncData... I just had the module configured incorrectly in my nuxt.config

[2020-02-02 21:47] #54 closed

[2020-02-02 22:08] timdiacon opened #55 "can't get <prismic-link> to work with link object passed to :field attribute?"
I'm passing in a Prismic link object to <prismic-link> via :field which looks like this

`id:"Xg4BSxAAACQAAj9C"
isBroken:false
lang:"en-gb"
link_type:"Document"
slug:"our-products"
tags:Array[0]
type:"section_overview"
uid:"products"
`

But it's simply creating an anchor tag with no href value in the dom? Am I passing the wrong type of object?

[2020-02-03 21:57] timdiacon commented on #55
Yet again me being stupid. My link resolver wasn't working for some reason... I've moved into app/prismic instead of specifying path in nuxt.config and all fine now.

[2020-02-03 21:57] #55 closed

[2020-02-03 22:10] timdiacon commented on #23
I have the same question. When using i18n I need to be able to call the method app.localePath() to convert links into the correct version for the current locale. The problem is "app" is not available within the link resolver function.

Prior to using the prismic-module my solution was to make app available by setting up the link resolver as a method on Vue.prototype as below

`export default ({ ap

[2020-02-04 15:59] Bergrebell commented on #51
@Atinux - I just ran into the same issue when trying to add the module to an existing nuxt-project using i18n.

removing i18n fixed the issue.

ps: thanks so much for all the effort to make this project so great!

[2020-02-04 19:14] renardsas commented on #51
@Atinux @alex-sas @Bergrebell  -  I  ran into the same issue when trying to add the module to fresh nuxt-project using i18n.
To use i18n you have to configure the module like this (nuxtjs.config.js) :
[code]
With this configuration it's work.
With parsePages: false, you have error :
``
ERROR ENOENT: no such file or directory, open 'C:\\wamp64\\www\\nuxt-test\\prismic\\.nuxt\\prismic\\pages\\previe

[2020-02-05 16:33] Bergrebell commented on #51
thanks @renardsas this did the trick for me!

[2020-02-18 10:47] 1uweb opened #56 "TypeError: window.onNuxtReady is not a function"
Hello,
I am currently getting an error in the browser console that I do not understand:

Here is the error:
`
TypeError: window.onNuxtReady is not a function
    at _callee3$ (prismic.js?fefe:83)
    at tryCatch (runtime.js?96cf:45)
    at Generator.invoke [as _invoke] (runtime.js?96cf:271)
    at Generator.prototype.<computed> [as next] (runtime.js?96cf:97)
    at asyncGeneratorStep (asyncToGener

[2020-02-19 02:26] adrianocr commented on #34
Sorry to reopen this but how does one disable the toolbar? I have `preview: false` in nuxt.config.js but the toolbar is still being rendered

[2020-02-19 02:43] adrianocr opened #57 "Disable the toolbar/edit button"
Short of hiding the button via css I don't see a way to disable the prismic toolbar / edit button. I dug through the code and I didn't even really see anything related to that button other than what seems to be what injects the script at the bottom of .nuxt/prismic/plugins/prismic.js:

[code]

How can I disable the button, at least on production builds?

[2020-02-19 09:45] sergaks commented on #57
Created pull request for the same issue https://github.com/nuxt-community/prismic-module/pull/58

[2020-02-19 10:21] Atinux commented on #56
What's your version of Nuxt @1uweb ?

[2020-02-19 10:21] #51 closed

[2020-02-19 10:22] #50 closed

[2020-02-19 11:01] 1uweb commented on #56
I’m using 2.11.0

[2020-02-21 19:47] adrianocr opened #60 "The prismic nuxt tutorial/guide has a sample html serializer that includes nuxt-link. This isn't getting transformed into an actual link"
If you go over to https://prismic.io/docs/vuejs/getting-started/prismic-nuxt you'll see that they have the following sample serializer:

[code]

Which I have placed in /app/prismic/html-serializer.js

This works perfectly _except_ `<nuxt-link>`. It doesn't get transformed/rendered. If I convert it to a standard `a` tag it works fine, but obviously without handling links internally by the router. S

[2020-02-26 23:24] KristianJohansenVakwerk commented on #60
i have exact same problem. Have you fixed it?

[2020-02-26 23:56] adrianocr commented on #60
@KristianJohansenVakwerk I placed a little hack in to make it work.

Change `<nuxt-link>` to a standard a tag with a class such as `<a class="linkHandler" href="${url}">${content}</a>`

Then in your code (probably in `mounted`) add an event handler on all `.linkHandler` links, set them to event.preventDefault(), and manually handle the link with vue-router like `this.$router.push(event.target.path

[2020-02-27 11:42] KristianJohansenVakwerk commented on #60
Thanks very much that worked.

[2020-03-01 16:39] itpropro commented on #60
You can also use the html serializer directly provided by prismic for nuxt. This one uses the nuxt-link tag:
[code]
Source: [Using Prismic with Nuxt.js](https://prismic.io/docs/vuejs/getting-started/prismic-nuxt)

[2020-03-02 13:28] adrianocr commented on #60
@itpropro it's the same one. If you see the link I included at the very top of the post, it's the exact same link you included at the bottom of yours.

[2020-03-10 14:14] #57 closed

[2020-03-10 14:15] #5 closed

[2020-03-10 14:15] #12 closed

[2020-03-10 14:15] #14 closed

[2020-03-10 14:15] #20 closed

[2020-03-10 14:24] Atinux commented on #56
Fixed in v1.1.1

[2020-03-10 14:24] #56 closed

[2020-03-10 15:41] Atinux commented on #60
Hi @adrianocr

Thank you for the bug report, indeed since we don't use the [Vue runtime compiler](https://cli.vuejs.org/config/#runtimecompiler) since it does not support SSR, the `<nuxt-link>` won't be processed by Nuxt.js.

Instead, the way to go is to do something like you did, I suggest to add a property like `data-nuxt-link`:

[code]

Then you can add your listeners based on the `a[data-nuxt-

[2020-03-21 14:08] Xayer opened #62 "TypeScript support"
Hello. I just encountered this error when using nuxt with Typescript.

`20:2 No overload matches this call.
  Overload 1 of 2, '(options: ComponentOptions<Vue, DefaultData<Vue>, DefaultMethods<Vue>, DefaultComputed, PropsDefinition<Record<string, any>>, Record<...>> & ThisType<...>): <VC extends VueClass<...>>(target: VC) => VC', gave the following error.
    Type '({ $prismic }: { $prismic: any;

[2020-04-14 22:19] ioanb7 opened #65 "Library calls `/api/v2` for every request"
Hi,

For every API read this library does two requests. One to `/api/v2`, the other one to the callback of $prismic (for example to get a single by uid)

The first authentication request takes 450ms, the other one takes 150ms. This means the page takes at least 600ms to load.

Any workaround for this, or does it need a fork?

No where I can find this being mentioned in the docs other than here: ht

[2020-04-17 10:43] Atinux commented on #62
Hi @Xayer

You should not access `Vue.prototype.$nuxt` in `asyncData`.

Actually we need to add the types for it, see how axios module do: https://github.com/nuxt-community/axios-module/tree/dev/types

PR more than welcome :)

[2020-04-17 10:59] arnaudlewis commented on #65
Hi @ioanb7, this plugin relies on the prismic client of the `prismic-javascript` library.
When it calls `/api/v2`, it will retrieve information like the `ref` of your API to retrieve your content, the search url to query your content and many other needed info.
A `ref` is just an identifier of a particular version of your API. Each time you publish, it will update this ref.
This mechanism allow us

[2020-04-17 12:05] ioanb7 commented on #65
Hi @arnaudlewis , thank you for the explanation. Where can I subscribe to get updated when the latency issue is solved?

[2020-04-24 01:27] lluishi93 opened #69 "Error at nuxt generate when preview = false"
When I set preview to false at nuxt.config.js, I got the following result after running nuxt generate:

![image](https://user-images.githubusercontent.com/14786440/80165243-5e9e8300-85db-11ea-87f9-c8fdcd8943e8.png)

If I set the preview attribute to true, it works, but the thing is I don't want to generate the preview route.

[2020-04-24 23:07] carlos-avila opened #70 "Error: Can't resolve 'prismic-vue/components/common' on 1.1.1"
### Error Message

ERROR in ./.nuxt/prismic/plugins/prismic-components.js
Module not found: Error: Can't resolve 'prismic-vue/components/common' in '/home/cavila/repositories/mandelbrew-local-biz-gifts/.nuxt/prismic/plugins'

### Fix
This seems to be fixed in [643186f](https://github.com/nuxt-community/prismic-module/commit/643186f7857470e8546ea5c339cd3d1d623254ce)

Is there any way to add this fi

[2020-04-27 13:51] cannap commented on #70
i had the same

just add

prismic-dom
prismic-javascript
prismic-vue

to your project but i think you just need prismic-vue for the components

[2020-04-29 15:51] hypervillain commented on #70
Heys, I think it's been fixed and merged.
@Atinux will probably publish soon

[2020-04-29 16:06] arnaudlewis commented on #65
You can follow here on the progress page: https://prismic.io/progress
For now, /api hit our server from West Virginia but we'll redund our servers on multiple regions for this purpose. This improvement will appear on that page.

[2020-04-29 20:20] cannap commented on #70
the real prismic-vue package add this only as peerDepen... so you need to add it anyway

[2020-04-30 09:59] Atinux commented on #69
Hi @lluishi93

Could you share your `nuxt.config.js` please?

[2020-04-30 10:01] #65 closed

[2020-04-30 10:02] Atinux commented on #69
cc @hypervillain

[2020-04-30 10:08] Atinux commented on #70
Fixed in https://github.com/nuxt-community/prismic-module/releases/tag/v1.2.1, sorry about this

[2020-04-30 10:08] #70 closed

[2020-04-30 10:43] hypervillain commented on #69
It would mean that [this test](https://github.com/nuxt-community/prismic-module/blob/master/spec/index.spec.js#L154) isn't right. I'll dig into it today

[2020-05-01 08:27] KristianJohansenVakwerk opened #73 "Issues with deployment of site"
Hey, thanks for a great module!

I'm having some issues when I generate the static site for deployment. When I run the npm run generate does i run with no errors, but it is not generating all the nested children, only some of them. Also the site works perfect on my local front-end.

My pages folder looks like this.

pages
index.vue
--| _navigation (folder)
--| index.vue
----| _category (folder)
--

[2020-05-01 14:57] lihbr commented on #73
Hi @KristianJohansenVakwerk

Can you elaborate what you mean by "only some of them"? Also can you provide us a link to your repo or at least your `generate` config inside `nuxt.config.js` please? It'll help us figure out what going on here :)

Thanks~

[2020-05-01 16:55] KristianJohansenVakwerk commented on #73
I know it's a very vague description. But I essentially have three sections (_navigation) which has multiple projects each with different categories assigned. And when I run the npm run generate does it only create static files for some of the projects and categories but it doesn't throw any errors in the projects that doesn't get created. I hope that make sense.

I have used this demo as a starti

[2020-05-01 19:18] lihbr commented on #73
Ok, thanks for sharing your config @KristianJohansenVakwerk

First of all I don't know if that's a typo related to copy/pasting or if this is the actual code but there's one in your link resolver for projects (I don't think you wanted to spell `category` this way):
[code]

As for what's going on beyond that I'm a bit puzzled as I don't think the `linkResolver` function is able to handle multi-para

[2020-05-01 19:56] KristianJohansenVakwerk commented on #73
Thanks for your reply @lihbr

I discovered some else that is odd, when I log the doc.type is always navigation regardless, not sure how the link-resolver gets some of them right then?

Thanks for you time I will wait and see if someone else can help me in here.

[2020-05-04 08:45] hypervillain commented on #69
@lluishi93, `preview` option does not disable the routes generator. Can you try adding a `disableGenerator` param to your config?

[2020-05-04 10:00] lluishi93 commented on #69
Hi, sorry for the late answer, I've been a bit busy. Few remarks on my problem with this bug:

- I'm using nuxt-router community module, so all my routes config is extracted in a route.js file.
- What I want to achieve is either:
   1. Generate preview route. By default, when preview is set to true, the generation itself fails.
I tried two ways to config the module. Assigning a preview route, and

[2020-05-04 17:32] egstad opened #74 "Breaking Error when Previewing"
When attempting to preview a draft from Prismic, this error is thrown:

`WARN  previewSession function is deprecated in favor of getPreviewResolver function.`

As a result, the preview is aborted and Prismic's master ref is used.

Environment:
- `nuxt 2.12.2`
- `@nuxtjs/prismic 1.2.1`

[2020-05-12 10:35] hypervillain commented on #69
Thank you for you detailed answer @lluishi93.
I think there are different issues that overlap here.

If setting `preview` to false creates a `Generated undefined routes` error, it's probably because your generate.routes config (https://nuxtjs.org/api/configuration-generate/#routes) is incorrect. Can you check that you end up with something like this in your Nuxt config file:

[code]

I'm not sure

[2020-05-13 10:30] hypervillain commented on #13
Hey @sergiocerrutti you can now pass an `apiOptions` param to the module, that would then be passed to the Prismic API initialisation:
[code]
but as James suggested the module runs on both client and server sides.

[2020-05-13 10:30] #13 closed

[2020-05-13 10:35] hypervillain commented on #21
A team at Prismic is working on this. See this package for more information: https://github.com/prismicio/sm-commons/tree/master/packages/vue-slicezone

It's not documented yet but:
- it can map slices based on folders and packages you define in a config file
- it pre-writes the slice path resolver via a Nuxt module
- it works with named slots

You can follow the development there, I'm planning to

[2020-05-13 10:35] #21 closed

[2020-05-13 10:47] hypervillain commented on #73
Hey @KristianJohansenVakwerk, can you share your module configuration here? I think you could use the new routes resolver, that helps Nuxt generate the correct routes. Otherwise, out of the box, Nuxt can't predict which values are valid for navigation, category and doc uids

[2020-05-18 03:21] jaggdl commented on #74
Try deleting your cookies. That worked for me.

[2020-05-19 23:59] egstad commented on #74
Tried it, but previews still aren't working. 😢

[2020-05-22 15:46] jainsuneet opened #77 "If Prismic endpoint is not available then complete website is down"
As per the documents I am injecting Prismic in the modules section of the nuxt.config.js.

[code]

I am integrating prismic content as blog in my existing nuxt website at /blogs, I realized that if in case Prismic URL is not available (if Prismic server is down or URL is incorrect) then the complete website doesn't load at all (all routes are blocked).

Can you please suggest any workaround for th

[2020-05-23 10:57] lihbr commented on #77
I think that's due to the plugin trying to get the API on injection ([here](https://github.com/nuxt-community/prismic-module/blob/master/src/templates/plugins/prismic.js#L17)). Perhaps it should just fail silently (loggin error but not throwing) or init the API not on load but only when requested 🤔

[2020-05-23 11:07] suneetjain commented on #77
I am only including the plugin in modules of nuxt config and my app is universal. Not all the pages are using this plugin, only one page called /blog. Even the root of the website is blocked when there is no prismic related calls in index file.

[2020-06-01 09:26] hypervillain commented on #77
If it doesn't come from the instantiation of the api then I'm not sure I understand the issue. What does your blog page looks like? When you mention incorrect urls, do you mean that you try to query a non-existing document on Prismic? Also, does it happen on both dev and production?

I'll try to reproduce on my side!

[2020-06-02 06:42] suneetjain commented on #77
I just include it in nuxt.config file like I mentioned in my original question ... the blog page is not initialized so there is yet no query. An incorrect link in the nuxt.config blocks the complete application.

[2020-06-03 13:28] hypervillain commented on #77
That's right, the js kit throws a 404 when used an invalid API endpoint.
Which is fine I believe, as not providing an endpoint simply defeats the purpose of such module. In your case, removing the module declaration until you need it seems preferable 👍

Let me know if you have another opinion on the matter ofc

[2020-06-03 13:31] suneetjain commented on #77
The root of Nuxt app is not calling the API but only /blogs is calling. For Nuxt it is injected in modules and the complete app is blocked. If an error is thrown then the app should load but this is not the case.

[2020-06-03 14:09] hypervillain commented on #77
The root of your app may not call the API but the module does when it injects prismic in your project.

The problem I can see with the module breaking here is if your app server-renders  content and the endpoint somewhat becomes unavailable.

But as of today, if your website breaks because you don't provide the module with a valid endpoint, then you could simply not declare the module in the first

[2020-06-03 14:13] suneetjain commented on #77
An app cannot be exclusive for one module. There is no problem with the module loading but the error handling mechanism of this module. The bug should be resolved with this module otherwise all the Nuxt apps using this module will go down if the Prismic server is down.

[2020-06-03 14:46] hypervillain commented on #77
Ok I'll leave open and see what I can do

[2020-06-05 11:07] hypervillain commented on #74
Hey @egstad can you give a try to #80 ?

[2020-06-07 17:52] egstad commented on #74
@hypervillain - that did the trick! Error is now gone.

[2020-06-07 18:32] egstad opened #81 "Prismic's Toolbar isn't initialized when Nuxt's globalName has been modified"
_[Outdated - see comment below]_

I've noticed that the Prismic Toolbar has been missing over the last few releases. I've tried clearing cache, deleting cookies, deleting `.nuxt` files, updating my npm packages, but no dice. Anyone else run into this issue and solve it?

I get these warnings in the console, but don't see how `map` files would cause this error.
![image](https://user-images.githubus

[2020-06-07 18:55] egstad commented on #81
I've found the issue...

This package doesn't hold nuxt's `globalName` into account. This is what is called in `prismic.js`.

[code]

My `globalName` is set to `app`, meaning that `onNuxtReady` becomes `onAppReady`. Upon changing the above to the following, the preview toolbar is back...

[code]

This update makes the toolbar operational. It's not perfect though - i'm receiving a polling iframe er

[2020-06-09 08:45] hypervillain commented on #74
Awesome. Expect it to be merged in the coming days ✌️

[2020-06-09 08:45] #74 closed

[2020-06-24 00:03] jameshhood commented on #70
I'm having an issue with @prismicio/vue/components/common

[code]

[2020-06-24 06:53] zjhiphop commented on #34
How's going now? What's the solution here?

[2020-06-24 08:05] hypervillain commented on #70
Can you `yarn add @prismicio/vue` @jameshhood ?

[2020-06-24 09:14] lihbr commented on #34
Hi @zjhiphop, if you want to disable Prismic Toolbar and Preview provided by this module you should be able to do so by specifying `preview: false` in your module options, [script won't be injected](https://github.com/nuxt-community/prismic-module/blob/master/src/templates/plugins/prismic.js#L84-L124). Let me know how it goes!

[2020-06-24 14:15] jameshhood commented on #70
@hypervillain Yeah I was able to install `@prismicio/vue v2.0.6`. I cleaned my node_modules and my .nuxt output and it still happens. In my node_modules in the `@prismicio/vue` directory, it only has a `dist` and a `src` directory in it so I'm not even sure what `prismic/plugins/prismic-components.js` is even looking for

[2020-06-24 14:25] hypervillain commented on #70
Oh ok indeed, I pulled everything and republished the components (https://unpkg.com/@prismicio/vue@2.0.7/components/common.js), sorry for the inconvenience

[2020-07-06 01:24] tjkohli commented on #81
We are having this issue as well. What's the solution without having to change our global name back?

[2020-07-07 13:42] phillysnow opened #83 "Replace deprecated 'previewSession' method with 'getPreviewResolver'"
We need to replace the previewSession method used for parsing preview cookies shown here:
https://github.com/nuxt-community/prismic-module/blob/master/src/templates/plugins/prismic.js

With the new getPreviewResolver (available with `prismic-javascript v.3.0.1`) which is documented here:
https://prismic.io/docs/vuejs/beyond-the-api/in-website-preview#18_0-processing-the-preview-token-with-getprevi

[2020-07-13 12:44] juliandreas commented on #60
@Atinux How would you solve it if you had [nuxt-i18n](https://github.com/nuxt-community/nuxt-i18n), where you use things like `localePath`?

[2020-07-15 09:19] hypervillain commented on #83
#80 should solve this

[2020-07-17 07:13] lihbr commented on #73
As pointed out by @hypervillain I think this is something that can be easily solved by the new [routes resolver](https://www.slicemachine.dev/documentation/link-resolver), if it doesn't work feel free to reach out to us again (your repo is probably not on the new clusters supporting this feature and we'll happily migrate it to it 🙂)

Anyway, in the meantime I'll close this issue and mark it as sta

[2020-07-17 07:14] #73 closed

[2020-07-17 13:41] #81 closed

[2020-07-17 14:01] #83 closed

[2020-07-17 14:01] lihbr commented on #77
Closed in #85

[2020-07-17 14:01] #77 closed

[2020-07-17 14:02] lihbr commented on #69
Hi @lluishi93,

Since this issue has not had recent activity I'll friendly close it and mark it as stale, feel free to reach out to us if you still encounter the issue, will happily reopen it if needed 🙂

Thanks for your contribution!

[2020-07-17 14:02] #69 closed

[2020-07-20 14:24] johndigital commented on #60
Thank you for your input @Atinux! This thread has been very helpful for me.

Rather than using a mixin to do this at the component level, I found it more useful to wrap this solution into a clientside plugin that will handle it for all cases globally. The full solution becomes:

1. Implement the `data-nuxt-link` logic [suggested by @Atinux](https://github.com/nuxt-community/prismic-module/issues/6

[2020-07-20 14:38] phillysnow opened #89 "Allow specifying a release ref in the api options"
It would be nice to specify a release ref instead on the default master ref in the apiOptions when testing content from a release. It would look something like this:
[code]

This workaround for now is to specify the ref in the options of each api call.

Here's a link to the discussion on the forum:
https://community.prismic.io/t/apioption-ref-does-not-seem-to-work-in-nuxt-config-js/906

[2020-07-20 15:05] Atinux commented on #60
To add more context, you can also use this module https://github.com/daliborgogic/nuxt-interpolation

[2020-07-22 08:46] aceol opened #90 "Use of @nuxtjs/prismic with nuxt-i18n"
In the newer version of [nuxt-18n](https://github.com/nuxt-community/nuxt-i18n), the url of the pages can be internationalized in the nuxt.config.js
[code]

If I miss `parsePage: false` it is yelling because it can't find preview.vue generated by @nuxtjs/prismic.

But I need `parsePage: true`, because the pages name can also be specified in the page file

[code]

Any advice on how to achieve that?

[2020-07-24 12:08] ValdoGhafoor opened #91 "Package calls a prismic script on 'nuxt generate'"
## Expected Behavior
When using nuxt generate, all content has been already fetched, therefore there should be no trace of prismic on static website

## Current Behavior
Api calls are made on load. (On my production hosting)

<img width="646" alt="Capture d’écran 2020-07-24 à 14 06 51" src="https://user-images.githubusercontent.com/7875009/88389797-742c7000-cdb7-11ea-935c-27ba1b341ea3.png">

Is

[2020-07-24 14:39] kolbykruger commented on #91
Correct me if I am wrong, but I believe this is used for the Prismic Toolbar (the front-end edit button that appears in the bottom left when you are logged-in to the Prismic dashboard.

[2020-07-24 18:32] lihbr commented on #91
@kolbykruger you're correct, those calls are in order:

1. Prismic API client initing itself
2. Toolbar script being loaded
3. Toolbar iframe being loaded

They are required for the preview feature to work. Let me know @ValdoGhafoor if you have other concerns regarding those otherwise I'll close the issue 🙂

[2020-07-26 11:57] LukaHarambasic opened #92 "Use $prismic in nuxtServerInit Action (vuex)"
Hi,

I have some information in Prismic which I call "general", e.g. website title, cookie text, etc.. That content is used in components and in layouts. That's why I can't use `asyncData`.

To solve this problem I thought about using `nuxtServerInit`, but there I can't access `$prismic`. With that, I would save the content in the store and access them where ever I need them.

Do you have any idea

[2020-07-26 20:51] LukaHarambasic commented on #92
Solved!

Prismic can be accessed via `this`:

[code]

Thanks!
Luka :)

[2020-07-26 20:51] #92 closed

[2020-07-27 09:14] lihbr commented on #90
Hey @aceol, sorry for the late answer, have you tried excluding `preview` from i18n: https://i18n.nuxtjs.org/routing.html#ignore-routes (last example), perhaps something like this could solve your issue, let me know!
[code]

[2020-07-28 18:45] jeerbl commented on #54
@timdiacon How did you configure the module in `nuxt.config` to access `$prismic` in `nuxtServerInit` then? Can't seem to work it out

[2020-07-28 19:23] jeerbl commented on #54
Just figured it out, it was the second parameter of `nuxtServerInit` :)

[2020-07-31 17:06] ValdoGhafoor commented on #91
Is there a way to disable the toolbar ?
Our editors uses the toolbar on our preprod environnement and we would like to get rid of unnecessary requests in production.

[2020-07-31 17:11] lihbr commented on #91
Yup, by setting `preview` option to false in the module option:
[code]

+ I'll work on an RFC next week to provide an option to load the preview script only when needed~ (TBD)

[2020-08-05 19:44] jameshhood opened #94 "Set endpoint programmatically"
So my challenge is to be able to make the endpoint configurable for my app. Right now you can do it in the config during build time. If I need to change this endpoint without bringing down the app I need to be able to set it via an environment variable or programmatically on say nuxtServerInit.

How do I go about doing this?

(edit, see: https://github.com/nuxt-community/prismic-module/issues/94#i

[2020-08-06 09:30] lihbr commented on #94
Hey James, thanks for contributing!

I'm not 100% sure of what you're trying to achieve so let me know. If you're looking to set the endpoint according to an environment variable you can do so in you're `nuxt.config.js` file:

[code]

Although doing it this way the endpoint will end up being set at build time. If you want to change your endpoint at runtime I'm afraid you'll need to get away of `th

[2020-08-06 15:29] jameshhood commented on #94
@lihbr Yeah so I have an ecommerce app that I've written and have multiple customers that use it all wanting their own branding and tweaks. So I would have a prismic repo for each one of them and that's where being able to tweak a setting somewhere would be nice and not having to build it in. I've done the environment variable for now, but hopefully this will be functionality available in the futu

[2020-08-06 15:59] lihbr commented on #94
Oh ok I understand better, well to me the environment variable way sounds like the de facto way of doing it, can you enlighten me about the way Axios is doing it though? Glad you found a way around that anyway 🙂

[2020-08-06 21:06] jameshhood commented on #94
I was just referring to Axios, because with their API, they have a method to set the default endpoint for requests. Then every time you do a get or post, you just have to supply the endpoint.

For Instance:
[code]
this would automatically hit `www.google.com/someendpoint` with the query parameters

Also in the nuxt config, they have the same deal
[code]
So you can just set it in the config, or if

[2020-08-07 06:33] lihbr commented on #94
Oh I see, thanks for sharing we'll see if we can implement that at some point! 🙂

[2020-08-25 17:39] incraigulous commented on #60
@johndigital's solution worked for me!

[2020-09-09 10:18] tosbatti opened #100 "Can't customize the Preview Page"
As described in the [documentation](https://prismic.nuxtjs.org/previews#customizing-the-preview-page) I'm trying to customize the preview page, but seems to be always invoked the "built-in" page of the module (`src/templates/pages/preview.vue`).

I tried these paths (from project root):
- `prismic/pages/preview.vue`
- `app/prismic/pages/preview.vue`

Doc says `~/app/prismic/pages/preview.vue`, and

[2020-09-09 10:34] lihbr commented on #100
Hi @tosbatti, thanks for your contribution!

Nice catch, indeed I noticed that the module doesn't take that into account anymore 🤔 : https://github.com/nuxt-community/prismic-module/blob/master/src/index.js#L21-L24 like it does for link resolver & html serializer: https://github.com/nuxt-community/prismic-module/blob/master/src/index.js#L51-L69

Correct path should be `app/prismic/pages/preview.vu

[2020-09-09 11:06] lorenaramonda commented on #100
Hi @lihbr ,

could it be because the other two have a check:

this.addTemplate({
    fileName: 'prismic/link-resolver.js',
    **src: userLinkResolverExists ? userLinkResolver : path.join(__dirname, 'templates/link-resolver.js'),**
    options,
  });
  this.addTemplate({
    fileName: 'prismic/html-serializer.js',
    **src: fs.existsSync(userHtmlSerializer) ? userHtmlSerializer : path.join(__dirn

[2020-09-09 11:08] lihbr commented on #100
Hi @lorenaramonda, that's exactly that ☺️ The others check for existence of the file and conditionally use it while this one doesn't.

[2020-09-10 07:55] #100 closed

[2020-09-11 11:38] lihbr commented on #100
Released in 1.2.4 🙂 #102

[2020-09-11 18:31] Jeffreykvo commented on #91
Any updates?
Prismic is amazing and it would be even more amazing if i could get rid of this unnecessary request.
Thanks i advance :)

[2020-09-11 21:54] lihbr commented on #91
Hey, glad you're enjoying Prismic! We're working on an update of the toolbar right now (in QA) that will allow some exciting things with this module and we'll move forward toward that issue right after, probably rolling a major for it 🙂

[2020-09-23 16:44] cbaxter713 opened #104 "Closing Preview toolbar does not close it"
I have @nuxtjs/prismic setup up and working as expected.  However, when I preview a document in my application, and then I try to "turn off" preview mode by clicking the X on the purple preview toolbar, preview mode never goes away.  The only way for me to get out of preview mode is to go into my cookies and delete the prismic preview cookies.

I would expect the preview mode to be removed by clos

[2020-10-09 13:32] mmanousou commented on #77
@lihbr @hypervillain we've had our website go down twice this week even though I can see in our logs it says "Preventing fatal error". So seems like it's not actually preventing the error.

We're investigating our Prismic content to see if there's something broken on that side but thought I would comment on this issue as well.

@jainsuneet is this working fine for you after this fix?

[2020-10-09 14:31] lihbr commented on #77
Hey @mmanousou, I'm sorry to hear that your website went down this week, [we indeed had a minor outage for some customers on Tuesday](https://status.prismic.io/history).

In such cases, the `trycatch` statement we added should only prevent pages not relying on Prismic at all to fail (@jainsuneet use case). I retested to be sure, HTTP and URL errors caused by the module on those do not lead to a fa

[2020-10-09 14:53] mmanousou commented on #77
hey @lihbr thanks so much for getting back to me so quickly! I didn't try to access a non-prismic page at the time unfortunately. We always use try/catch for our Prismic calls but will have another look into it :/

We use nuxt 2.14.6 and @nuxtjs/prismic 1.2.4. Here's part of our nuxt config if it helps. Please let me know if i can provide more info.

[code]

[2020-10-09 15:09] lihbr commented on #77
You're welcome! Config looks good to me, I guess you're using Nuxt SSR with Node right? (according to your modules) Not sure of what could cause it so far as long as your `CONTENT_URL` environment variable is filled correctly.

Happy to dig more into it if you figure out how to reproduce a fatal with a `trycatch` statement ☺️

[2020-10-09 15:13] SaFrMo commented on #60
@johndigital 's answer was extremely helpful! I ran into a situation where I needed to account for query strings and hashes and ended up switching

[code]

to

[code]

which solves the issue on my end.

[2020-10-13 18:57] lluishi93 opened #105 "Can't setup local dev environment to retrieve drafts"
Hi,

Is there any way to setup nuxtjs prismic module to retrieve all drafts, like Contentful preview API? The preview mode only allows to see the drafts of that specific Document. I tried looking for something like this in documentation but haven't found anything. Could someone help me out a bit?

Thanks.

[2020-10-13 18:57] lluishi93 commented on #104
+1

[2020-10-13 20:04] lihbr commented on #105
Hey @lluishi93, thanks for reaching out!

Currently, Prismic does not offer a "vanilla" preview API like Contentful, although that's something we're aware some of our users would like to see and we are considering implementing it.

However, you can still preview multiple documents at once by having them in a release and then preview the release as a whole ☺️ The video here shows you how to do so:

[2020-10-14 07:45] jainsuneet commented on #77
There is still no proper solution, because of that we decided to move to another cms solution (Strapi). We cannot allow one module to break the whole website.

This is a worst case scenario but as @lihbr mentioned that they had an outage and any sort of outage on Prismic is directly impacting the website using it completely, even you are using Prismic only on your certain pages of website.

[2020-10-23 22:27] zrisher opened #107 "Any way to provide app context to link resolver for nuxt-i18n compat?"
When writing the [`linkResolver`](https://prismic.io/docs/javascript/beyond-the-api/link-resolving) function, we must provide our full understanding of our app's routing. This works fine in simple cases.

However, some of us use [`nuxt-i18n`](https://i18n.nuxtjs.org/) to manage language-aware routing, which does some complicated things like discovering routes, merging them with custom language-spe

[2020-11-08 14:29] liqueflies opened #109 "Can't preview newly created documents with static generated websites"
Hello,
I am facing an issue that if I am trying to preview a new created document (for example a blog post) into a static generated sites (hosted into netlify) it redirects me to https://mysite.co/my-uid-newly-created it goes to 404.

Anyone faced this issue? Any workaround?

Many thanks <3

Here to help,
L.

[2020-11-08 17:45] lihbr commented on #109
Hey @liqueflies thanks for the report! Can you share your Prismic repository name please? We're aware that preview is broken and in the process of being fixed on some repositories 🙁

[2020-11-08 18:30] liqueflies commented on #109
Hi @lihbr ,

here my config (with repo name):

[code]

let me know , thank you :)

L.

[2020-11-12 11:33] lihbr commented on #109
Hi @liqueflies sorry for the delay.

Configuration is looking good. I also checked your repository and previews should be working fine with it. This also means that I'm starting to be clueless regarding what might be wrong ^^' By any chance on what browser are you trying to preview? (we know Safari has trouble with them due to its cookie policy)

If you can share me your whole Nuxt config that mig

[2020-11-12 11:36] liqueflies commented on #109
Hi @lihbr,
I have searched a lot in these days and I found the problem: netlify redirect to 404 if page not exist because of a nuxt default settings of generate: `{ fallback: 404  }`

I switched to `{ fallback: true }` and now goes to the `_uid.vue` page generating correct preview.

Thanks for your support <3

[2020-11-12 11:36] #109 closed

[2020-11-12 11:49] lihbr commented on #107
Hey @zrisher, I'm really sorry for the delay, might have slipped through my notifications 🙏

I understand the issue here and this is a great feedback! I definitely agree that it's not convenient, error-prone, to maintain a routing strategy for Prismic separated from the Nuxt i18n one and I'm afraid there's currently no way to overcome that.

As pointed out in https://github.com/nuxt-community/pris

[2020-12-29 13:25] francois2metz opened #111 "Support the new target: "static""
The target "static" has been introduced in nuxt 1.13. It would be nice if prismic-module would support it.

Right now, using the static target, there is one call to the prismic api in the generated site:
https://github.com/nuxt-community/prismic-module/blob/c824747c3e90634324236d897097da11e7a2d831/src/templates/plugins/prismic.js#L19

[2021-01-06 04:52] dertrockx commented on #62
I fixed this by creating a type definition file
[code]

[2021-01-06 08:55] lihbr commented on #62
Hey, I guess it was from here: https://github.com/prismicio/prismic-vue/issues/5, really looking forward to move our kit to typescript properly this year ☺️

[2021-01-08 08:24] jameshhood opened #114 "Cannot get Previews to work with SPA app"
I've been trying to figure out how to get Preview functionality to work with my SPA app for the longest time. Does anyone have a working example they could possible provide that isn't using nuxt generate?

[2021-01-14 14:13] lihbr commented on #114
Hi @jameshhood and sorry for the delay!

Can you share your `nuxt.config.js` file here and how you're deploying your application? If you can provide some information about the error you're getting that'd be perfect also!

If I remember correctly, to deploy a Nuxt app as an SPA you need to set `target: "static"` and `ssr: false` in the config file, then run `nuxt generate` to get the SPA output. Di

[2021-01-14 18:08] jameshhood commented on #114
@lihbr Nuxt allows you to build in SPA, Static, or SSR. SPA generates a single index.html that we host via a ngnix cluster.

I don't get any errors at all. The problem is the UI doesn't seem to respond to the preview token/request. I'm not sure what configuration needs to change on the UI or server to make this work for an SPA.

I have my config files broken down into separate files
[code]
[code]

[2021-01-15 13:19] lihbr commented on #114
I see, thanks for sharing those details!

I tried to reproduce the preview failing using your config (router & prismic config and things related to generation of the index.html) but unfortunately, I wasn't able to achieve a similar result. To be sure we're on the same side and if that can help here's a step by step of what I've done with Nuxt.js 2.14+:
1. Set my config to generate an SPA like you,

[2021-01-15 16:53] rahulkumarsingh73690 opened #115 "Preview not working in SSR"
Hi,

In nuxt ssr true this doesn't work for my project

Here is my prismic code
[code]

Error in console

`Access to XMLHttpRequest at 'https://my-repo.cdn.prismic.io/api/v2/documents/search?page=1&pageSize=1&ref=https%3A%2F%2Fmy-repo.prismic.io%2Fpreviews%2FYAGwfBEAACMAgZ45%3AYAGzWREAACAAgaup%3FwebsitePreviewId&lang=*&q=%5B%5Bat(document.id%2C%20%22X_2fHxEAACEAbu1Q%22)%5D%5D' from origin 'http://

[2021-01-16 20:44] js-org-cleanup opened #116 "JS.ORG CLEANUP"
# JS.ORG CLEANUP

Hello, it seems a `js.org` subdomain that was requested to target this repository no longer works.
The subdomain requested was `prismic-nuxt.js.org` and had the target of `nuxt-community.github.io/prismic-module`.
It produced the following failures when tested as part of the cleanup:
 - [HTTP](http://prismic-nuxt.js.org): `Failed during request with error 'FetchError: request to

[2021-01-16 21:40] lihbr commented on #116
Thought we had resigned from .js.org since the .nuxtjs.org subdomain :thinking:

Apparently, there's no other process for final removal so let's wait a month 🤷‍♀️

[2021-01-16 21:40] #116 closed

[2021-01-17 07:02] jameshhood commented on #114
So when I click the preview button from primsic, it opens the correct webpage at /#/preview/?token... but it immediately redirects back to the root page '/' and no editing becomes available. If I were to run a development version of the app where "preview" is enabled by default I can access and view my testing documents. So for what ever reason the token is not being handled properly. Even when I

[2021-01-18 14:21] lihbr commented on #115
Hey @rahulkumarsingh73690, thanks for the report!

Can you provide an example component making a call to Prismic you're doing in your application? GET request shouldn't trigger CORS 🤔 Perhaps you're using GraphQL? Looking forward to helping on that ☺️

[2021-01-18 14:23] rahulkumarsingh73690 commented on #115
[code]

[2021-01-18 14:28] lihbr commented on #115
Ok I see, can you also provide a regular page component please ?

[2021-01-18 14:31] jameshhood commented on #114
When I clear the application's cookies and storage and click the preview button over from prismic, I get a prismic login page. After signing in, it redirects to the /preview/?token page. Upon the loading of that, it redirects back to the root page. From what I read, that's pretty normal without defining any special link-resolver. The only thing that doesn't seem to happen is that the "preview" fun

[2021-01-18 14:31] rahulkumarsingh73690 commented on #115
What do you mean by regular page component. you mean layout (blog)??

[2021-01-18 14:47] lihbr commented on #115
Oh sorry, perhaps `~/pages/index.js` or `~/pages/blog/_slug.vue` yes! A component where you use `asyncData` or `fetch` basically :)

[2021-01-18 15:15] rahulkumarsingh73690 commented on #115
`~/pages/blog/_slug.vue
`
[code]

`~/pages/index.vue`

[code]

[2021-01-18 15:24] lihbr commented on #115
Thank you very much! Nothing special here to notice, may I ask you what browser/version are you using?

[2021-01-18 15:26] rahulkumarsingh73690 commented on #115
Chrome and VS code

[2021-01-18 15:57] lihbr commented on #114
Hey James, thanks for providing additional information!

I did some more testing on my side using dynamic pages. Indeed without a link resolver set up (or the `routes` option on the API) everything will redirect to the index indeed, that's the expected behavior.
Although when setting up one it will still do so because of the `router.mode: "hash"` option which appears not to have been handled on ou

[2021-01-18 16:17] lihbr commented on #115
Thanks again! Nothing related to the browser here. 🤔 Starting to get a bit clueless!

Can you try monitoring XHR requests in the network tab of the devtool? Trying to identify which request fails, sharing its method (GET/POST/etc.), request/response headers and status would be helpful! Might sound a bit daunting, if you want to I'm happy to jump on a quick call with you, you can ping me here: http

[2021-01-18 18:54] jameshhood commented on #114
So all of the content that I pull from my repo is done through `$prismic.api.getSingle(...)` which is typically done on the mounted event. This should be and is executed on the redirect from `/preview/` to `/`

When I typically run the app in development mode (localhost) the prismic toolbar functionality is on by default. When I build for production and deploy, that is off by default and I would a

[2021-01-18 20:56] lihbr commented on #114
Thanks for your patience and information!

True, I would have used `asyncData` but in SPA mode I think those behave the exact same, so, well ^^

Interesting, can you try running the app locally in production mode (`$ npm run start` will spin up a simple HTTP server for it) and check for the Prismic toolbar?

Actually, here is more information about how the toolbar behaves that may help you trouble

[2021-01-18 22:47] jameshhood commented on #114
So if I build/start it and run it locally it works just fine. Do you have documentation/recommended on a configuration for Nginx settings. That seems to be the issue. I'm working with my Systems Engineer right now about getting it resolved.

[2021-01-18 23:28] jameshhood commented on #114
This is what we set for our response headers for test purposes. Is there additional things we need to add for prismic?
[code]
It still doesn't seem to work. Not sure what other kind of information we can provide?

[2021-01-19 06:48] rahulkumarsingh73690 commented on #115
Please check twitter

[2021-01-19 07:10] lihbr commented on #114
Hey that's awesome James, can you try with this one:
[code]

Here I allowed `unsafe-inline` and `unsafe-eval` for the `frame-src` directive and removed the `unsafe-dynamic` one from `default-src` since it's not a conventional one from what I know (I'm by far not an expert but well...) If that works going forward your systems engineers might want to narrow those directive to *.prismic.io, let me kn

[2021-01-19 16:23] lihbr commented on #115
Here's a quick follow up of our discussion on Twitter:

After some time we noticed that that the value of `websitePreviewId` was getting stripped on Rahul's website, leading to the issue:
![image](https://user-images.githubusercontent.com/25330882/105062097-83e0f480-5a7a-11eb-9177-07f4d0d680f8.png)

We tried to troubleshoot a ton of things to figure that out. Unfortunately, I wasn't able to reprod

[2021-01-19 22:42] hatrena opened #117 "Have to hard refresh the page to get $prismic.api working"
I am testing Prismic on my localhost and facing an issue where I have to refresh the page so that `$prismic.api` get to work, otherwise, if I navigate through `NuxtLink`i receive `$prismic.api.getByUID is not a function` error message.

I also used the javascript package to fetch documents, same problem. I also noticed the generic API call to Prismic gets blocked and showing `Referrer Policy: stri

[2021-01-19 23:00] hatrena commented on #117
strange, the issue was caused by a chrome extension adblocker. I disabled the extension and everything seems working.

[2021-01-19 23:00] #117 closed

[2021-01-20 02:58] jameshhood commented on #114
So after tinkering with our CSP we found that the issue had nothing to do with that.

We found that the `https://static.cdn.prismic.io/prismic.js?new=true&repo=<repo name>` was not being loaded into the head of the document

We have it working now using a work-around, however, I thought the nuxtjs/prismic module was supposed to handle this automatically? I wonder if this has anything to do with it

[2021-01-20 07:48] lihbr commented on #114
Thanks for sharing that James,

Indeed the script gets injected at the end of the body (for performance purpose) programmatically when Nuxt is starting: https://github.com/nuxt-community/prismic-module/blob/master/src/templates/plugins/prismic.js#L97-L101

Glad you figured out a workaround and that it's working though, but that wouldn't explain why it was working locally / on Netlify 🤔

[2021-01-20 07:50] lihbr commented on #117
Glad you figured it out @hatrena! Are you able to share the extension causing this issue? I'd be curious to have a look :eyes:

[2021-01-20 07:53] hatrena commented on #117
Hi @lihbr , yes that is the famous extension: https://chrome.google.com/webstore/detail/adblock-%E2%80%94-best-ad-blocker/gighmmpiobklfepjocnamgkkbiglidom

Maybe if you have the problem, it's a good idea to mention it in the docs. Thanks 👍

[2021-01-20 14:59] jameshhood commented on #114
Yeah I have no idea. The only thing I can possibly think of is that we have a single web app that we configure the endpoint to point to different customers repos. We use a js file to inject the new values into the window and maybe the plugin may remove that script injection if no values exist? My local version has all those values directly passed.

[2021-01-22 15:11] lihbr commented on #115
Hey, I was able to reproduce the issue with @phillysnow, finally!

After analyzing working and not-working lock files, turns out the issue was a really murky one due to [@nuxt/ufo@0.5.0](https://github.com/nuxt-contrib/ufo) that was introduced in [nuxt@2.14.12 patch](https://github.com/nuxt/nuxt.js/releases/tag/v2.14.12) on the 16th of December.

Everyone that installed this patch before the 6th o

[2021-01-22 15:16] rahulkumarsingh73690 commented on #115
Let me check this @nuxt/ufo

[2021-01-22 17:17] rahulkumarsingh73690 commented on #115
Finally, after deleting the package-lock.json and node_modules folder and after a fresh install everything is working fine.

All credit goes to @lihbr

[2021-01-22 17:17] #115 closed

[2021-01-24 11:51] romainavalle opened #118 "TypeError: t.api.getPreviewResolver is not a function"
Hello!

First time I am using prismic and I encounter a weird issue :

`Uncaught (in promise) TypeError: t.api.getPreviewResolver is not a function
    at 463460c.js:2
    at d (d087994.js:2)
    at Generator._invoke (d087994.js:2)
    at Generator.next (d087994.js:2)
    at r (d087994.js:2)
    at l (d087994.js:2)
    at d087994.js:2
    at new Promise (<anonymous>)
    at d087994.js:2
    at Tn.

[2021-01-24 14:08] #118 closed

[2021-01-24 14:08] romainavalle commented on #118
Cleaned up my package.json

[2021-02-05 15:13] jackdomleo7 opened #120 "Error in apiOptions docs?"
Hi, I tried looking for a similar issue but couldn't seem to find one.

It seems as though there may be an error in the `access_token` documentation. The example for `nuxt.config.js` shows using snake_case for `access_token`, however this doesn't seem to work. I was only able to get the token to work if I changed it from snake_case to camelCase - `accessToken`.

For me at least, having a private P

[2021-02-06 09:37] #60 closed

[2021-02-06 11:20] lihbr commented on #60
I'll have a look into this yup + looking forward to fix that with next major of our Vue kit

[2021-02-06 18:22] lihbr commented on #104
Hey, I'm really sorry for the lack of support back then! The toolbar has since gone through a lot of fixes related to that kind of issue (due to privacy policy updates and cookies messing), feel free to open another issue if you're still experiencing it!

[2021-02-06 18:22] #104 closed

[2021-02-06 18:30] #114 closed

[2021-02-06 18:31] #105 closed

[2021-02-09 11:43] #120 closed

[2021-02-17 09:03] hungvo-madison opened #124 "Preview page mode"
Hi
The nuxtJS does not currently support preview in when generating a static site? is this right?
I'm building an app with target static but not working.
Have you guys any suggest? ^^

[2021-02-19 15:06] lihbr commented on #124
Hey @hungvo-madison, thanks for contributing!

I'm not sure I fully got your issue, Prismic previews should be working fine with static sites using this module.

If you have trouble setting up those I'd suggest you using our [community forum](https://community.prismic.io). If you feel you found a bug please provide more information here (reproduction, package.json, nuxt.config.js, etc.), I'll do m

[2021-03-04 13:24] lihbr commented on #124
Closing this issue since stale, feel free to reopen if needed!

[2021-03-04 13:24] #124 closed

[2021-03-08 21:52] aaronransley opened #128 "Preview state is not honored when navigating within SPA"
I'm having trouble with the previews feature not properly reflecting drafted changes in a release.
I am creating a `target: 'static'` build using `yarn generate`.

If I preview the release to my local machine running a freshly `yarn generate`d `~/dist` folder, the initial page load shows production content, and then the preview functionality kicks in on the client side and properly updates content

[2021-03-09 11:47] lihbr commented on #128
Hey @aaronransley, thanks for submitting an issue!

Regarding your preview issue, you should be able to see previewed content, even when navigating through pages. I'll have a look at your reproduction this afternoon, thanks for submitting one 🙏

Regarding your first question, _generating a website with content from a release_:

You can do that by specifying a specific `ref` to use to the client. B

[2021-03-09 12:42] lihbr commented on #128
Okay regarding the initial preview issue across navigation I was able to confirm it as a valid bug. I worked on a fix, should land soon on NPM with version 1.2.5 of this module :)

[2021-03-09 13:06] #128 closed

[2021-03-09 16:40] aaronransley commented on #128
Wonderful, thank you so much @lihbr!

Hopefully it's not too off-topic, but I'm curious if there's a way to lookup the latest preview refs in a similar way? Right now, it seems that a user needs to initiate a preview session from the Prismic admin interface.

Ideally I'd love the flexibility to have my CI/CD pipeline reach _into Prismic_ to ask for the latest draft/preview content, even if it is n

[2021-03-09 17:28] lihbr commented on #128
Hey Aaron, 1.2.5 has been released on NPM 🎉

Regarding getting the ref of preview sessions I'm afraid that's not possible and you'll have to stick with the release workflow here. Being able to preview everything in draft is a nice feedback although, I'll bring it to our product team!

[2021-03-11 09:13] simonmaass commented on #70
` ERROR  Failed to compile with 1 errors                                                                                                                                                     friendly-errors 10:11:43

This dependency was not found:

[2021-03-11 12:20] lihbr commented on #70
Hey @simonmaass, @juDmnca really sorry for the inconvenience! We apparently had an issues with our build when releasing @prismicio/vue@2.0.8 yesterday, we released a fix! Update it with:
[code]
If you're still experiencing the issue try deleting your node modules and lock file and install everything again! Thanks 🙏

[2021-03-11 13:27] simonmaass commented on #70
works again - thnx!

[2021-03-16 15:19] phillysnow opened #130 "[RFC] Mechanism to checks if the ref is the most up to date one and triggers a refresh if not."
In dev mode, if a users' browser does not have the most up-to-date ref because of a content change, then this causes a 403 when navigating the pages.

We should implement a check on the ref to see if it's up to date and if not we should trigger a hard refresh.

**Linked forum topic:**
https://community.prismic.io/t/expired-token-access-token-403-error-on-some-page-visits-safari/4369/21

[2021-03-30 15:51] cedricbommart opened #131 "Slice for meta data"
Hello,

Thank for your work.
I have a question for you. I was trying to create a slice to manage meta data to use in Custom Type content. The slice does not render anything so I managed to create a slice `./slices/MetaData/index.vue` with only a `<script>` and with a `render() { return undefined; }`. The file content :

[code]

Is there any "proper" way to do this ? Or is it planed to be able to c

[2021-04-01 13:49] MariuszDabrowski opened #132 "Potential preview issues"
We recently did a `Bump @nuxtjs/prismic from 1.2.4 to 1.2.6` on our project and noticed Prismic previews stopped working. No other code on the project changed.

We reverted this bump and sure enough the previews started working again, any ideas as to what might be happening here?

Some additional details:
- We're previewing on localhost
- All previews broke
- Followed the troubleshooting guide her

[2021-04-01 13:58] lihbr commented on #132
Hey @MariuszDabrowski, thank you so much for letting us know!

Can you share your version of Nuxt & Node also? Thanks!

[2021-04-01 16:14] MariuszDabrowski commented on #132
`"nuxt": "^2.15.3"`
`"node": "14.15.1"`

[2021-04-01 16:51] lihbr commented on #132
Thanks! I'll investigate that next week, in the meantime for your intention here are the two change we introduced since `1.2.4`:
- https://github.com/nuxt-community/prismic-module/commit/5e443508e1c69540f63a512675ce5a35ab428df8#diff-0702cfb7026ef4a87ca46003aa83c63e6a33be6a91edf840e50b77f0b6c2e73d
- https://github.com/nuxt-community/prismic-module/commit/6f60b21d596306585391ffde7a662b1a87fdbf11#dif

[2021-04-02 15:59] gmirmand opened #133 "Can't regenerate slice screenshot (Puppeteer)"
Hey !

I have a problem to regenerate the screenshot of my slices from the slicemachine. The first generation seems to work fine, but when I want to re-generate it the sm crashes and I get this error
[code]
Obviously, running the commands quoted in the error does not solve the problem

node: `12.21`
`"slice-machine-ui": "^0.0.45",`
`"@nuxtjs/storybook": "^3.3.1",`

Thanks in advance for your help

[2021-04-02 18:38] lihbr commented on #131
Hey @cedricbommart, really interesting use-case you have here and that's definitely something we want to move towards! Right now Slice Machine is dependant on Storybook so doing that without a story, even empty, linked to it sounds complicated. Maybe we should think about functional slices indeed?

cc @hypervillain, @duaner

[2021-04-03 03:04] gabrielsze commented on #77
This seems to be a rather serious issue and quite a determiner in what cms we go with, wanted to ask if there are any updates on this...

[2021-04-03 05:20] gabrielsze opened #134 "nuxt generate always calls api multiple times"
A reference to an issue raised earlier here - https://github.com/nuxt-community/prismic-module/issues/77,
especially highlighted in this comment

This is an issue for me because I'm only utilising prismic in one of my subdirectories `example.com/blog`. However, when I generate many other pages in other subdirectories `example.com/pages1`,`example.com/pages2` etc, the prismic API key is somehow alw

[2021-04-03 07:49] lihbr commented on #134
Hey @gabrielsze, thanks for raising your concerns regarding that and taking the time to look for duplicates.

As of writing this there's unfortunately no way to achieve that using this module.

A workaround would be to scale down to @prismicio/vue which might give you more control but might not be as straightforward to use as this module.

However with the new version of @prismicio/client we're no

[2021-04-12 10:14] lihbr commented on #111
Closing in favor of #134

tl;dr; we'll consider switching to the `.client` method

[2021-04-12 10:14] #111 closed

[2021-04-14 12:20] jevillard commented on #94
Hello,

You can also add the ability to configure the endpoint at runtime as in axios module (see https://axios.nuxtjs.org/options#runtime-config)

Use case possible: build only a docker image and inject the endpoint as an environment variable at runtime time so when using the `nuxt start` and not when using `nuxt build`

Thanks

[2021-04-14 17:22] lihbr commented on #94
Hey, thanks for your input @jevillard, definitely a legit usage! We should start working on some enhancements for the module soon! ☺️

[2021-04-16 02:01] gabrielsze opened #135 "will private api token be exposed?"
Hi all, just noted this particular snippet in the documentation, particularly

[code]

Am wondering what does this line means, and am curious if the private API token is exposed, and what is the best way to implement such a configuration in Nuxt, such that the private API token is protected?

[2021-04-16 11:44] lihbr commented on #135
Hey @gabrielsze, nice question!

Since Prismic has to be able to run on the frontend (for SPA fallback, previewing content, etc.) the token you pass as an option here will eventually bleed in the frontend.

If you're using a token to protect unreleased content, you can effectively use this option by providing it an access token that only has access to the master ref. People won't be able to peek a

[2021-04-16 13:53] gabrielsze commented on #135
Thanks for answering! Appreciate the quick response.

May I clarify how this works - so the token which has access to master can only view published content, but the token with master and releases can view all content (?)

Was wondering more about api-calls throttling if someone decides to spam the API (ddos perhaps?), not sure if this would be a consideration, but for example also noticed how you

[2021-04-16 16:17] lihbr commented on #135
You're welcome!

Exactly, sorry for abusing Prismic's jargon but _a token that only has access to master_ is basically _a token that only has access to published content_, a token that has access to _master and releases_ can view _published content_ **and** _releases content_ that might not be yet published.

Indeed, your concern makes total sense here. On that purpose we do implement rate-limitin

[2021-04-16 16:33] gabrielsze commented on #135
Understood, thanks so much for clarifying and also for the quick response on this. Helps to understand the situation better :)

[2021-04-16 16:52] lihbr commented on #135
You're welcome, closing this now~

Feel free to reopen if any question, also we have a [community forum](https://community.prismic.io) where you can get support for that kind of question 🙂

[2021-04-16 16:52] #135 closed

[2021-04-19 14:35] lihbr commented on #91
Closing in favor of #134 (I explained the envisioned workaround there), we should fix that soon!

[2021-04-19 14:35] #91 closed

[2021-04-19 15:33] lihbr commented on #132
Hey,

I took some time today to reproduce the issue on a simple project using `nuxt@2.15.4` with `@nuxtjs/prismic@1.2.6` and `node@14.15.3`.  Unfortunately, I didn't manage to reproduce the issue on both a local server (`nuxt`) and a production build (`nuxt generate` over Netlify).

I'll close this issue for now. Please reopen it if you're still experiencing it, I'd be happy to dig into it further

[2021-04-19 15:33] #132 closed

[2021-04-20 11:06] phillysnow opened #136 "Folders with hyphens '-', causing the route generation to fail."
When deploying a site on Netlify with a route like: `.../actueel/at-work/max-at-work/` it fails with the following error.
[code]

It doesn't seem related to the link resolver or the route resolver. The route is then generated at `.../max-at-work/` and the page queries fine.

My thought is that it's probably related to this plugin or `Nuxt` since it generates the dynamic routes.

Any thoughts.

[2021-04-20 13:52] lihbr commented on #136
Turns out it's an issue with the API itself, tracked internally here: https://github.com/prismicio/issue-tracker-wroom/issues/513

For anyone experiencing this issue you can migrate from the [`apiOptions.routes`](https://prismic.nuxtjs.org/configuration#new-routes-resolver) options to a classic [link resolver](https://prismic.io/docs/technologies/link-resolver-nuxtjs) to fix it.

We'll keep you up

[2021-05-04 15:37] lihbr commented on #134
*Update `05/04/2021`:*
1. I attempted to migrate the API init process to `.client` while working on #137. Unfortunately, I discovered a lot of small breaking changes related to this refactor, it mainly changes the way to access the internals of the client (see: https://github.com/prismicio/prismic-javascript/blob/HEAD/src/ResolvedApi.ts#L55-L64) which might cause trouble to some users. This will b

[2021-05-04 15:40] lihbr commented on #136
*Update `05/04/2021`:*
1. A PR has been made to fix this, it should land shortly!

[2021-05-04 15:41] lihbr commented on #89
*Update `05/04/2021`:*
1. This will be part of the module v2 after we're done refreshing @prismicio/client: https://github.com/prismicio/prismic-javascript/issues/163

[2021-05-04 15:45] lihbr commented on #133
Hey @gmirmand, sorry for the lack of reactivity back then.

- Are you still experiencing the issue?
- Can you try updating your dependencies (cleaning node_modules, lock file and installing again)?

If you're still experiencing the issue after that can you share your system details (yarn or npm version, nuxt version, Nuxt config file, anything that could be helpful for us to debug!)

[2021-05-04 15:49] lihbr commented on #94
*Update `05/04/2021`:*
1. I attempted to support runtime config in #137. Unfortunately, this would introduce breaking changes for some people. Support for runtime config will be added in v2~

[2021-05-04 15:52] lihbr commented on #62
*Update `05/04/2021`:*
1. TypeScript support will be improved as part of the module v2 once we're done refreshing @prismicio/client: https://github.com/prismicio/prismic-javascript/issues/163. We already made some progress on it when working on our Vue 3 plugin: https://prismic-vue-next.netlify.app

[2021-05-04 15:53] lihbr commented on #131
Hey, gently closing this question, it's something we're taking into account when working on the future of Slice Machine 🚀

[2021-05-04 15:53] #131 closed

[2021-05-04 16:07] lihbr commented on #130
*Update `05/04/2021`:*
1. I'm looking to understand more the root of the issue, in any case this won't land on v1 and if any will be part of v2

[2021-05-04 17:32] lihbr commented on #134
Just updated my previous comment as I had an idea about it, landing soon 🙂

[2021-05-07 15:17] phillysnow commented on #130
I think this is related:
https://community.prismic.io/t/vercel-nuxtjs-randomly-page-not-found/5209

[2021-05-20 11:15] andypattenden opened #139 "Static site Prismic page previews don't work when base is set"
When using a `base` in the router configuration and serving a statically generated site, the base is not prefixed to URLs when trying to preview a page from Prismic.

When the site is served using the nuxt server, the previewed URL correctly has the prefix due to the router prefixing the url with the `base`.

I believe this is caused by this https://github.com/nuxt-community/prismic-module/blob/ma

[2021-05-20 13:02] lihbr commented on #139
Hey! Thank you so much for contributing! I'm having a look at your PR this afternoon, if everything's ok I'll roll a patch ☺️, continuing the discussion in #140

Just in case you don't know, now we can use `nuxt start` / `npm run start` to just serve assets from the `dist` directory when using Nuxt static mode~

[2021-05-20 13:04] andypattenden commented on #139
Great, thanks!

I did try this but with the `us` subdirectory in the `dist` dir, Nuxt was throwing an error for me. I'll take another look and see if I can figure it out.

[2021-05-20 13:08] lihbr commented on #139
Oh, indeed, might have a bug there 🕵️‍♀️

[2021-05-20 13:45] #139 closed

[2021-06-03 13:14] RAHMANIABOUBEKER opened #143 "Problem with query predicates when zero documents are created"
### Versions

- nuxt: v2.15.6
- @nuxtjs/prismic: v1.3.1
- node: v14.16.1

### Steps to reproduce
 Create content Type in Prismic and do not create documents for this content type.
Try to query document with a predicate by field
### What is Expected?

I am expecting to get the same result when any document of this type exists.

### What is actually happening?

[function at(..)] unexpected field 'my

[2021-06-03 14:20] lihbr commented on #143
Hey, thanks for the report! Closing in favor of https://github.com/prismicio/prismic-javascript/issues/169

[2021-06-03 14:20] #143 closed

[2021-06-23 13:04] jutane commented on #130
Hi @lihbr

This happens when content is updated in Prismic, this will update the master reference.

If someone is browsing the website when this happens, they continue to browse the site with the old master ref leading to an expiry, when this happens the application throws a 403 error and dies.

I built in a check in middleware on our site for each render to check if master ref has been updated, i

[2021-06-23 13:07] lihbr commented on #130
Thanks for the additional info @jutane! That sounds better, I'll dig into it

[2021-07-09 08:59] wishiz opened #144 "Preview mode Samesite cookie attribute"
Hi guys,
our team has recently experienced an issue with cookies samesite attribute when previewing Prismic documents. We hope you could help us. Please let us know if we should re-address the question.

### Reproduction
Log into Prismic repository dashboard > access document > click Preview

### What is expected
Open the app preview

### What is actually happening
The following error appears:
![i

[2021-07-09 10:07] lihbr commented on #144
Closing in favor of https://github.com/prismicio/prismic-javascript/issues/184 to avoid duplication.

[2021-07-09 10:07] #144 closed

[2021-07-27 20:11] jackdomleo7 opened #146 "$prismic object not recognised in nuxt.config.(js|ts)"
### Versions

- `"@nuxtjs/prismic": "^1.3.1"`
- `"nuxt": "^2.15.7"`
- `"typescript": "^4.3.5"`
- node: v14.17.3

### Reproduction

1. Create a simple Nuxt.js project with `Single Page App` & `Static`. This bug happens when using JS or TS.
2. Create a Prismic repository and create a repeatable type (let's call it "blog-article" for now). Be sure to include the `uid` field.
3. Make a few example blo

[2021-07-27 20:22] jackdomleo7 commented on #146
I have found a workaround for now using `@prismicio/client` package, but obviously would be good to get `@nuxtjs/prismic` working instead.

[code]

[2021-07-28 07:43] lihbr commented on #146
Hey @jackdomleo7, thanks for asking!

It's actually not a bug: it's not a feature:

`@nuxtjs/prismic` doesn't export anything else apart from the module, therefore you cannot import `$prismic` from it (and even if there was such an export I'm not sure how it could get configured properly since its configuration is part of the Nuxt config file but I digress here)

One way of getting access to `$pri

[2021-07-28 12:24] jackdomleo7 commented on #146
Thank you for the response, makes total sense. I think I'll stick with using `@prismicio/client` approach. I may switch to the crawler when I can confirm I have no dynamic pages with other pages linking to them.

[2021-07-28 14:23] octo-topi opened #147 "Bump prismic-dom from 2.2.5 to 2.6"
### Is your feature request related to a problem? Please describe.
A bugfix has been released [in prismic-dom ](https://github.com/prismicio/prismic-richtext/issues/47) 2.6

### Describe the solution you'd like
Bump [current dependency ](https://github.com/nuxt-community/prismic-module/blob/master/package.json#L33)from 2.2.5 to 2.6

[2021-07-28 18:02] lihbr commented on #147
Hey, as explained, just running `yarn upgrade` or `npm update` should bump `prismic-dom` for you ☺️ (and if not, try removing your `node_modules` and lock file to force an update)

This package uses the caret (`^`) semver version range for `prismic-dom`. This means that upon installation (or update) it will install the most recent version from the said range (`^2.2.5`), here the latest version we

[2021-07-28 18:02] #147 closed

[2021-07-28 18:04] #146 closed

[2021-08-11 08:33] michael-observerly commented on #94
Just to add potentially a small modicum of weight for this feature - we currently are migrating a Vue project to a Nuxt project.

The issue for us is that we want to set the endpoint not at runtime - but dynamically. We currently see that this.$prismic.apiEndpoint isn't able to be set with out the getter / setter warning. So, potentially the fix could be something as trivial as the following:

[co

[2021-08-11 20:26] lihbr commented on #94
Thanks for your input @michael-observerly!

I get the idea although I'm afraid just changing the value of the endpoint won't have any effect on the client instance created previously 🤔

I think for your use case it'll be simpler to just use @prismicio/client alongside the Nuxt module 🤔

[2021-09-03 11:29] MartCube opened #148 "Http request to graphql API of prismic"
As the title says, I was wondering can we do something like this with prismic.
In this [Strapi module](https://strapi.nuxtjs.org/strapi#graphqldata) they offer us a simple way to querry using graphql.

[2021-09-03 14:12] lihbr commented on #148
Hey @MartCube, thanks for the suggestion!

Indeed that would be an interesting thing to have. We'll try to consider that while keeping in mind it should have no/minimal impact on users not using GraphQL ☺️

[2021-10-13 04:02] dejardine opened #149 "Can't preview unpublished documents on a Netlify static websites"
### Versions

- nuxt: 2.15.8
- @nuxtjs/prismic: 1.2.6
- node: 12.22.4

### Reproduction

Hi there, wondering if you can help, I am unable to preview unpublished documents on a netlify server. Upon choosing preview the browser gets the cookie, but then just redirects to the homepage. Published documents however work as expected. I'm sure there is something simple I am doing wrong, but it

<details

[2021-10-20 05:52] renovate[bot] opened #151 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Repository problems

These problems occurred while renovating this repository.

 - WARN: Using npm packages for Renovate presets is now deprecated. Please migrate to repository-based presets instead.

## Open

These updates have

[2021-11-24 13:54] yannbertrand opened #154 "Layouts Preview does not work when building in full static mode"
### Versions

- nuxt: 2.15.7
- @nuxtjs/prismic: 1.3.2
- node: 16.10.0

### Reproduction

**Reproduction repository** :
https://github.com/yannbertrand/prismic-nuxt-preview-test

**Built app with a beta header** : ✅ works after static build
https://prismic.link/3cLAI4o

<details>
<summary>Screenshots</summary>
Prismic config
<img src="https://user-images.githubusercontent.com/5855339/143224059-f29a

[2021-11-24 17:14] lihbr commented on #154
Hey there, thank you so much for the detailled report! I'll have a look at it next week.

At first glance it looks like this is probably related to the following: https://github.com/nuxt/nuxt.js/issues/9439

I'll investigate that!

[2021-11-24 21:48] yannbertrand commented on #154
Thank you for your help! Let me know if you need more information :)

[2021-11-29 10:55] lihbr commented on #154
Hey there,

Thanks to your detailed instruction I was able to reproduce easily the behavior you encountered.

So the issue here is the one described in this Nuxt issue: https://github.com/nuxt/nuxt.js/issues/9439 (the one from before), but tl;dr; Nuxt is not able to refresh `fetch` hooks coming directly from a layout file (not a page).

I'll try to push for the PR fixing that to be merged. In the

[2021-11-30 10:29] yannbertrand commented on #154
Thank you for the update and providing a temporary patch! We'll definitely look into using the store to get data.

Is it ok to keep this issue open until the PR you mention is merged? It would be the best for us to get updated :)

[2021-11-30 12:15] lihbr commented on #154
Definitely ☺️ This is still a valid "bug"

[2022-03-16 10:09] lihbr commented on #136
Fix landed on the API a while ago ☺️

[2022-03-16 10:09] #136 closed

[2022-03-16 10:11] lihbr commented on #154
Sadly the PR fixing this one on Nuxt end (https://github.com/nuxt/nuxt.js/pull/9530) won't land as Nuxt team shifts its effort toward Nuxt 3.

I'm closing it with a `wontfix` flag and will update it should the PR change its status.

[2022-03-16 10:11] #154 closed

[2022-03-16 10:23] lihbr commented on #94
`@prismicio/client` has been completely reworked in 2021, changing a client instance endpoint is (still) not possible with it, and I'm not sure this is something we want to introduce. Creating a new instance should remain the preferred way.

With that in mind, I'm closing this issue. However, something I want to explore/support with the [Nuxt 3 module](https://v3.prismic.nuxtjs.org/) is the abilit

[2022-03-16 10:23] #94 closed

[2022-03-16 10:43] lihbr commented on #130
Hey there, sorry for the delay! Here are some updates on this issue:

- The `modern` option of the module introduced last year uses a version of the Prismic client that only caches the master ref for 5 seconds: https://prismic.nuxtjs.org/configuration#modern
   This should prevent such errors from happening in the future and voids the need for such a mechanism.

- The new Prismic client available

[2022-03-16 10:43] #130 closed

[2022-03-16 10:44] lihbr commented on #62
The new version of the module targetting Nuxt 3 comes with first-class TypeScript support 🎉

https://v3.prismic.nuxtjs.org/

[2022-03-16 10:44] #62 closed

[2022-03-16 10:45] lihbr commented on #133
Closing as stale, Slice Machine screenshot mechanism has also been reworked since then.

I'm sorry again for the lack of reactivity, thanks for your contribution!

[2022-03-16 10:45] #133 closed

[2022-03-16 10:47] lihbr commented on #89
The new version of the module targetting Nuxt 3 (https://v3.prismic.nuxtjs.org) uses the aforementioned new client that allows being inited with a specific ref 🎉

https://prismic.io/docs/technical-reference/prismicio-client#setup-methods

[2022-03-16 10:47] #89 closed

[2022-03-17 16:57] itzaks opened #157 "usePrismic is undefined when deploying on Netlify"
### Versions

- @nuxtjs/prismic: 3.0.0-alpha-1

### Issue

Publishing on Netlify with minimal config I'm getting this:

My package.json build script looks like this

[code]

And my `nuxt.config.ts` looks like this:

[code]

---------

**UPDATE**

Even after creating my own composable and using it like this:
[code]

I get a similar error
[code]

Server logs on Netlify looks like this:

[code]

I'm

[2022-03-18 09:23] itzaks commented on #157
Creating a fresh repo with minimal setup and only
[code]
as `devDependenies` it seems to work. I'll try to track down what caused this.

Thanks for a great work with the module.

[2022-03-18 11:09] itzaks commented on #157
The error was caused by trying to run the prismic slice machine together with nuxtjs/prismic 3.0. This seems to still not be fully supported. Tracking here instead, [prismicio/slice-machine#420](https://github.com/prismicio/slice-machine/issues/420).

[2022-03-18 12:02] lihbr commented on #157
Indeed, Slice Machine doesn't support Nuxt 3 in any way for now and this will likely remain the same for as long as Nuxt 3 is in beta/rc state. Thanks for your contribution!

[2022-03-18 15:20] itzaks commented on #157
It's strange though, because the error keeps coming up again, without any major changes from my end.  From one commit to the next (only changing some minor html stuff) it comes up. And this is completely without slice-machine. This is my full package.json

[code]

[2022-03-18 21:56] lihbr commented on #157
Thanks for the details!

Definitely, both Nuxt 3 and our Nuxt 3 integration are beta/alpha-ish. I'll keep an eye on those though and make sure the Prismic integration does its best to stay in sync with Nuxt 3 progress :relaxed:

[2022-03-22 08:20] itzaks commented on #157
The problem seems to be part of the [prismicio/vue@v3](https://github.com/prismicio/prismic-vue) rather than the Nuxt package upon further investigation.

[2022-04-02 21:26] cfab commented on #157
Any news on this ?

[2022-04-02 22:00] lihbr commented on #157
Hey there, I'll have a deeper look at it next week, didn't have time earlier.

In the meantime make sure you're running the latest release of Nuxt 3 and the Prismic module. Some changes were released last week on the module following some Nuxt 3 updates.

[2022-04-03 08:03] cfab commented on #157
Ok thank you (btw I'm using the latest versions of both nuxt and prismic module).

[2022-04-06 11:08] lihbr commented on #157
Hey there,

First of all, sorry for the delay it took to get back to you. I'll make sure to ramp up our Nuxt 3 support effort as the framework leans toward its full release.

I just released a patch fixing the primary issue (`usePrismic()` is `undefined`) when `@nuxtjs/prismic` is installed as a regular dependency (basically the fix was forcing Nuxt to transpile our Vue plugin, see: ead4eb1071e47c

[2022-04-06 11:08] #157 closed

[2022-04-06 13:04] cfab commented on #157
Thank you!

[2022-04-07 23:35] angeloashmore commented on #90
@lihbr I just encountered this issue as well when using `@nuxtjs/i18n`.

Adding `pages.preview: false` fixes the issue, but only if `parsePages` is `false`.

[code]

[2022-04-08 08:33] #90 closed

[2022-04-08 08:33] lihbr commented on #90
Very nice catch! Didn't know about this option. Published in 1.4.2

[2022-04-18 21:46] exophunk opened #160 "Not able to use the @nuxtjs/prismic@alpha release with Nuxt 3"
### Versions

- nuxt:  Nuxt 3 latest (3.0.0-27501460.04a72f8)
- @nuxtjs/prismic: 3.0.0-alpha.3
- node: v16.13.1
- npm: v8.6.0

### Reproduction

<details open>
<summary>Nuxt Config</summary>
<br>

[code]

</details>

<details open>
<summary>package.json</summary>
<br>

[code]

</details>

### Steps to reproduce

1. Install fresh Nuxt3 installation (`npx nuxi init nuxt3-app`)
2. `npm install --save

[2022-04-20 10:48] lihbr commented on #160
Hey there, thank you for opening an issue and trying out Nuxt 3 with Prismic!

First of all, you're not doing anything wrong!

Now, as you might already know, Nuxt 3 is in beta and pending RC (https://v3.nuxtjs.org/community/roadmap). This makes our module likely to break as breaking changes are introduced by the Nuxt team in order to move faster towards a final release. This already happened a fe

[2022-04-21 12:14] lihbr commented on #160
Should be fixed in `3.0.0-alpha.5`, let us know if anything ☺️

[2022-04-21 15:31] #160 closed

[2022-05-23 10:58] gabrielsze opened #162 "​ Prismic preview toolbar overflows on the right on mobile, cant close preview"
![Screenshot 2022-05-21 at 12 20 30 PM](https://user-images.githubusercontent.com/46477732/169804856-e99b0f19-1e18-4297-a47a-bee4767197cb.png)

### Versions

- nuxt-edge: v2.16.0
- @nuxtjs/prismic: v1.2.6
- node: v14.18.0

### Reproduction

Currently dont have a repro on this, wondering if it's because of my CSS stylesheet, seems to have encountered this really early on.

### What is Expected?

I

[2022-05-23 11:08] lihbr commented on #162
Hey there, thanks for opening an issue!

This is indeed a known issue of the toolbar, we're tracking it internally.

In the meantime preview can be closed by switching to paysage mode.

I'll let you know when we have progress on it :relaxed:

[2022-05-23 15:12] #162 closed

[2022-06-15 13:29] eveningforgery opened #163 "`<NuxtLink>` usage with `htmlSerializer` in v3"
Hello there!

It used to be possible in nuxt 2 to make the htmlSerializer to use `nuxt-link` instead of a simple `a` tag for internal links.

<details>
  <summary>Nuxt 2 example:</summary>

  `app/prismic/htmlSerializer.js`

[code]

</details>

I quickly tried to do the same thing following the documentation for v3 but the `NuxtLink` element doesn't get mounted:

`app/prismic/htmlSerializer.js`
[c

[2022-06-15 15:15] lihbr commented on #163
Hey there, thanks for opening an issue!

This actually used to be a bug in Nuxt 2 also, see: https://github.com/nuxt-community/prismic-module/issues/60

With Vue 3/Nuxt 3 this has been fixed so that you only need to input an `<a>` tag, links will then use client-side routing when appropriate automatically (inspired from @Atinux's solution here: https://github.com/nuxt-community/prismic-module/issu

[2022-06-22 09:08] eveningforgery commented on #163
Awesome, thank you for the explanation!

[2022-06-22 09:08] #163 closed

[2022-06-28 11:34] eveningforgery opened #164 "Preview error on nuxt 3 SSR using v3 module"
Hello there, I'm having issues with the preview on nuxt 3 & @nuxtjs/prismic v3.

I configured the preview in prismic as such:

Domain:
http://localhost:3000
Link resolver:
/preview

When launching the preview, the server throws a 500 error, `useHead is not defined`.

I also deployed & configured it on Netlify, and I'm getting the same error in a live environment.

I also tried my luck making a cus

[2022-06-28 11:47] lihbr commented on #164
Hey there, thanks for opening an issue!

Can you update to the latest RC (`nuxt@3.0.0-rc.4` as of today) and try again?
If I remember correctly `useHead` was introduced to replace `useMeta` (which is now deprecated) for the first RC ☺️

Let me know!

[2022-06-28 11:55] lihbr commented on #164
OK, question: In development (outside of previews), are you able to go to `/preview` without any error?

[2022-06-28 13:59] lihbr commented on #164
Alright, should be fixed in `3.0.0-alpha.6`, let me know ☺️

[2022-06-28 16:50] lihbr commented on #164
Great! You should at least see the toolbar if you're logged in to Prismic. Content not updating in every case is part of it indeed yes ^^' I'll work on it soon

[2022-07-01 19:10] renardsas commented on #164
Hey @lihbr  ,

### Versions
- nuxt: 3.0.0-rc.4
- @nuxtjs/prismic: 3.0.0-alpha.6
- node: 16.15.0

Toolbar doesn't show up because it is not loaded.
File :
[https://github.com/nuxt-community/prismic-module/blob/master/src/module.js](url)

[code]

It's working when I replace **nuxt.options.head.script** with **nuxt.options.app.head.script**
[https://v3.nuxtjs.org/api/configuration/nuxt.config#head](u

[2022-07-01 19:40] lihbr commented on #164
Great catch, thank you so much! TypeScript got me wrong here between Nuxt 3 & Nuxt 2 types, my bad 🤦‍♀️

Just released this fix as part of `3.0.0-alpha.7`, there are still some gotchas with previews through due to the lack of [preview mode](https://nuxtjs.org/docs/features/live-preview#preview-mode) in Nuxt 3. This can be worked around however with some tricks so I'll implement that in July ☺️

Th

[2022-07-01 20:40] lihbr commented on #164
Actually nevermind, I felt inspired tonight so I released `3.0.0-alpha.8` which should bring you full preview support 🎉

There might be some gotchas left, especially with SSR, so let me know if you encounter anything unexpected, but previews are here for real 🙌

![Champagne gif](https://i.giphy.com/media/nV92wySC3iMGhAmR71/giphy.webp)

If that's OK with you I'm closing this issue as I think the in

[2022-07-01 20:40] #164 closed

[2022-07-01 20:56] renardsas commented on #164
I just install the last version and I have this error :
![Capture](https://user-images.githubusercontent.com/7579904/176966718-699c466d-3bfd-4086-be18-85435a45cfea.PNG)

I have no other module, just @nuxtjs/prismic.
Without @nuxtjs/prismic, no error when nitro build.

[2022-07-01 21:12] lihbr commented on #164
Of course, thankfully releases are free, should be good in `3.0.0-alpha.9` Thanks for the heads up again 🙏

If you're curious about what it was, basically auto imports don't work (yet) in modules (oddly they work in the module playground or with `yarn link`, but not once shipped as a package), so while they are typed as "here" we have to import them still ^^

[2022-07-01 21:19] lihbr commented on #164
Alright, `3.0.0-alpha.10`

[2022-07-01 21:34] renardsas commented on #164
Thanks for the follow up and the commits 🙏🙏🙏🙏

And also a big thank you for this article:
https://lihbr.com/blog/pushing-nuxt-js-static-generation-one-step-further
At the time, this approach provided excellent performance

[2022-07-01 21:36] lihbr commented on #164
You welcome, thanks! ☺️

[2022-07-01 21:52] renardsas commented on #164
Small improvement:
[code]

Maybe also a way to activate the preview but without loading the script ?
[code]
I load it only when a certain cookie is present. I do this because otherwise all users logged in or not have to download the script + ifram + source font pro ...
![Capture](https://user-images.githubusercontent.com/7579904/176971578-965c25a8-fc9c-4be2-a834-627b237e3cdd.PNG)

[2022-07-01 21:56] lihbr commented on #164
Sure, will add that to my backlog ☺️ Great ideas!

If you'd like to contribute further PRs are very welcome too ☺️

[2022-08-18 21:44] BenjaminOddou opened #168 "Nuxt Image + Prismic Usage"
Hello 👋,

I tried to set up prismic `"@nuxtjs/prismic": "^3.0.0-rc.0"` with `"@nuxt/image-edge": "^1.0.0-27657146.da85542"` but it doesn't seems to work at all. My `nuxt.config.ts` file :

[code]

and in the my `.vue` files :

[code]

[2022-08-19 09:09] lihbr commented on #168
Hey there,

Looks like you're trying to use a local image with Nuxt Image Prismic provider set as the default provider.

In such case I think you need to specify an explicit provider:
[code]

Let me know :)

[2022-08-19 10:56] BenjaminOddou commented on #168
Hello @lihbr,

In fact I am trying to use prismic images directly but maybe my configuration is not correct. 🤔

[2022-08-19 11:54] lihbr commented on #168
Sure, my bad!

In this case, you'll need to provide your image field's URL as the src, something like this:

[code]

[2022-08-19 12:40] BenjaminOddou commented on #168
hello @lihbr,

with the following configuration
[code]
I have this error message
[code]
and with your suggestion, TS is throwing me `Property 'doc' doesn't exist for the type ComponentInternalInstance` and VUE is throwing me errors as well `Parsing error: ',' expected.`.

I was wondering if there is nothing to change in my nuxt.config.ts file or something to enable with prismic. I mean is there an

[2022-08-19 13:53] BenjaminOddou commented on #168
@lihbr,

After digging a bit I found that there is two things missing in the generated URLs.

what I should have :

[code]

Also is there a secure way to call these images ? I know that there is a way to generate acess tokens but how to use them in this kind of config ?

[2022-08-19 14:23] lihbr commented on #168
OK, thanks for providing more info!

When using Nuxt image with Prismic you **cannot** use only an image name. That's because the component cannot guess your repository name and image hash (ID) as you noticed.

To use Nuxt image with Prismic you need to pass it the full image URL served by Prismic available in Prismic image fields returned by the API.

Here's a tutorial about using Nuxt Image with

[2022-08-19 16:23] BenjaminOddou commented on #168
@lihbr,

So if I am understanding correctly,
I have to provide the `repo-name` + `hash` for each image. Is there a way to dynamically define these urls? If I have 100 images in a gallery do I have to search for each `hash` manually, copy and paste it into each `src` fields ??

I can see in your demo that you added :

[code]

But I don't understand this piece of code 😅

[2022-08-19 20:57] lihbr commented on #168
No you don't, generally you're not expected to grab image URLs from your library directly (you can, but it'd be manual then)

To automate it, the flow goes like this (this is a rough outline of it, check out [the Prismic doc](https://prismic.io/docs/technologies/nuxt) for a comprehensive tutorial):
1. You define your content type on Prismic, some may feature image fields
2. You create documents wi

[2022-08-19 21:08] BenjaminOddou commented on #168
@lihbr , thank you for this precision!

However may I ask you if `slicemachine` is needed for this ? Because it's not working with Nuxt 3 for now.

[code]

[2022-08-19 21:40] lihbr commented on #168
Slice is not "needed" indeed, and does not support Nuxt 3 officially yet indeed (you'd have to hack your way around to get it to work with Nuxt 3). With that in mind I'd recommend sticking to the classic custom type editor available online for now in that use case.

[2022-08-20 06:51] BenjaminOddou commented on #168
Hello @lihbr

Sorry for requiring your help again but I am really struggling with the module. I am getting this error (testing my build locally):

[code]

[2022-08-20 09:21] lihbr commented on #168
It looks like you didn't replace `<REPO_NAME>` with your own Prismic repository name here.

Which tutorial did you follow?

[2022-08-20 10:22] BenjaminOddou commented on #168
I followed [this guide](https://v3.prismic.nuxtjs.org/guides/basics/fetching-content). I set up my repo name/Id in the `nuxt.config.ts` file:

[code]

[2022-08-20 12:06] lihbr commented on #168
Alright, I'm sorry but I just don't have enough information to help you past that point.

Please provide a comprehensive reproduction as a .zip folder in that thread and explain clearly the error(s) you are experiencing.

[2022-09-05 10:17] Kamsou opened #170 "usePrismic is not defined"
### Versions

- nuxt: 3.0.0-rc.9
- @nuxtjs/prismic: ^3.0.0-rc.0
- node: v18.0.0

### Reproduction

<details open>

`package.json`

[code]
`nuxt.config.ts`

[code]

`app.js`

[code]

`index.js`

[code]

</details>

### Steps to reproduce

See details.
Npm run dev

### What is Expected?

keep Prismic info

### What is actually happening?

![Screenshot 2022-09-05 at 12 15 30](https://user-images.gith

[2022-09-05 13:09] lihbr commented on #170
Hey there, thanks for the comprehensive issue!

This should be fixed with Prismic module `3.0.0-rc.1`.
This error was due to Nuxt introducing a breaking change in `rc.9`, see #169 for more information.

Also, just a quick heads up that Slice Machine doesn't officially support Nuxt 3 yet. The experience is still tailored around Nuxt 2 so you might encounter some road bumps with Nuxt 3.

Feel free t

[2022-09-05 13:09] #170 closed

[2022-10-05 12:10] #168 closed

[2022-11-16 22:24] brunodeangelis opened #172 "The requested module '@nuxt/kit' does not provide an export named 'addAutoImport'"
### Versions

- nuxt: 3.0.0
- @nuxtjs/prismic: 3.0.0-rc.1
- node: 16.16.0

### Reproduction

[https://stackblitz.com/edit/nuxt3-prismic-bug](https://stackblitz.com/edit/nuxt3-prismic-bug)

### Steps to reproduce

Fresh install of Nuxt 3 Stable, add Nuxt Prismic module rc 1.

Any help greatly appreciated.

[2022-11-17 11:33] lihbr commented on #172
Hi there, thanks for the heads up!

The Nuxt team published some last breaking changes yesterday leading to that issue. This should be fixed with `@nuxtjs/prismic@3.0.0-rc.2`

Let me know if anything! Feel free to reopen as needed :)

[2022-11-17 11:33] #172 closed

[2022-11-19 21:57] esbeto opened #173 "Route Resolver not working on Nuxt3 when routes set in createClient"
### Versions

- nuxt: 3.0.0
- @nuxtjs/prismic: 3.0.0-rc.2
- node: 19.0.0

### Reproduction

Hi, I'm testing out the latest and greatest prismic with Nuxt3, spend a few hours trying to get urls working.

I noticed the following, when setting the routes option in `nuxt.config` it works:

[code]

But if I move this config to createClient, it doesn't work:
[code]

### Steps to reproduce
1. Set-up crea

[2022-11-21 13:22] lihbr commented on #173
Hi there, thanks for opening an issue!

Can you try setting your paths like so? (with the `~` prefix)

[code]

I'm afraid your current setup tries to resolve those paths from your disk root (e.g. `c:/app/prismic/client.ts`) because of the leading `/`.

---

Just a quick note, the client path you're trying to use is the default path the module uses, so you could also simply omit it and the module s

[2022-11-28 20:23] kieuminhcanh commented on #170
Still error on  "@nuxtjs/prismic": "^3.0.0-rc.2",

[2022-11-29 20:49] lihbr commented on #170
Hey @kieuminhcanh, I'm sorry but I'm not able to reproduce: https://stackblitz.com/edit/github-dysfy1?file=pages/index.vue
Just a heads up that `rc.2` dropped support for Nuxt RCs, you have to be on Nuxt `3.0.0` or greater now.

Please open another issue with a comprehensive reproduction if you're still experiencing the issue.